<section class="blog">
    <div class="container">
    <h1 class="blog__title">блог</h1>
    <ul class="blog__list">
        <li class="blog__item">
            <img class="blog__img" src="../../images/main-page/interior1@1x.webp" alt="12345">
                <h2 class="blog__info">Стільці для вітальні. Як правильно вибрати?</h2>
                <a class="blog__text" href="#">Детальніше
                    <svg class="blog__svg">
                        <use href="../../images/symbol-defs.svg#icon-arrow-to-right"></use>
                    </svg>
                </a>
        </li>
        <li class="blog__item">
            <img class="blog__img" src="../../images/main-page/interior2@1x.webp" alt="12345">
                <h2 class="blog__info">Що краще вибрати для кухні – стільці чи кухонний куточок?</h2>
                <a class="blog__text" href="#">Детальніше
                    <svg class="blog__svg">
                        <use href="../../images/symbol-defs.svg#icon-arrow-to-right"></use>
                    </svg>
                </a>
        </li>
        <li class="blog__item">
            <img class="blog__img" src="../../images/main-page/interior3@1x.webp" alt="12345">
                <h2 class="blog__info">Оформлення вітальні. Які м'які меблі краще вибрати?</h2>
                <a class="blog__text" href="#">Детальніше
                    <svg class="blog__svg">
                        <use href="../../images/symbol-defs.svg#icon-arrow-to-right"></use>
                    </svg>
                </a>
        </li>
        <li class="blog__item">
            <img class="blog__img" src="../../images/main-page/interior1@1x.webp" alt="12345">
                <h2 class="blog__info">Стільці для вітальні. Як правильно вибрати?</h2>
                <a href="#">Детальніше
                    <svg class="blog__svg">
                        <use href="../../images/symbol-defs.svg#icon-arrow-to-right"></use>
                    </svg>
                </a>
        </li>
        <li class="blog__item">
            <img class="blog__img" src="../../images/main-page/interior2@1x.webp" alt="12345">
                <h2 class="blog__info">Що краще вибрати для кухні – стільці чи кухонний куточок?</h2>
                <a class="blog__text" href="#">Детальніше
                    <svg class="blog__svg">
                        <use href="../../images/symbol-defs.svg#icon-arrow-to-right"></use>
                    </svg>
                </a>
        </li>
        <li class="blog__item">
            <img class="blog__img" src="../../images/main-page/interior3@1x.webp" alt="12345">
                <h2 class="blog__info">Оформлення вітальні. Які м'які меблі краще вибрати?</h2>
                <a class="blog__text" href="#">Детальніше
                    <svg class="blog__svg">
                        <use href="../../images/symbol-defs.svg#icon-arrow-to-right"></use>
                    </svg>
                </a>
                
            
        </li>
        <li class="blog__item">
            <img class="blog__img" src="../../images/main-page/interior1@1x.webp" alt="12345">
                <h2 class="blog__info">Стільці для вітальні. Як правильно вибрати?</h2>
                <a class="blog__text" href="#">Детальніше
                    <svg class="blog__svg">
                        <use href="../../images/symbol-defs.svg#icon-arrow-to-right"></use>
                    </svg>
                </a>
                
            
        </li>
        <li class="blog__item">
            <img class="blog__img" src="../../images/main-page/interior2@1x.webp" alt="12345">
                <h2 class="blog__info">Що краще вибрати для кухні – стільці чи кухонний куточок?</h2>
                 <a class="blog__text" href="#">Детальніше
                    <svg class="blog__svg">
                        <use href="../../images/symbol-defs.svg#icon-arrow-to-right"></use>
                    </svg>
                </a>
                
            
        </li>
        <li class="blog__item">
            <img class="blog__img" src="../../images/main-page/interior3@1x.webp" alt="12345">
                <h2 class="blog__info">Оформлення вітальні. Які м'які меблі краще вибрати?</h2>
                <a class="blog__text" href="#">Детальніше
                    <svg class="blog__svg">
                        <use href="../../images/symbol-defs.svg#icon-arrow-to-right"></use>
                    </svg>
                </a>
                
            
        </li>
        <li class="blog__item">
            <img class="blog__img" src="../../images/main-page/interior1@1x.webp" alt="12345">
                <h2 class="blog__info">Стільці для вітальні. Як правильно вибрати?</h2>
                <a class="blog__text" href="#">Детальніше
                    <svg class="blog__svg">
                        <use href="../../images/symbol-defs.svg#icon-arrow-to-right"></use>
                    </svg>
                </a>
                
            
        </li>
        <li class="blog__item">
            <img class="blog__img" src="../../images/main-page/interior2@1x.webp" alt="12345">
                <h2 class="blog__info">Що краще вибрати для кухні – стільці чи кухонний куточок?</h2>
                <a class="blog__text" href="#">Детальніше
                    <svg class="blog__svg">
                        <use href="../../images/symbol-defs.svg#icon-arrow-to-right"></use>
                    </svg>
                </a>
                
            
        </li>
        <li class="blog__item">
            <img class="blog__img" src="../../images/main-page/interior3@1x.webp" alt="12345">
                <h2 class="blog__info">Оформлення вітальні. Які м'які меблі краще вибрати?</h2>
                <a class="blog__text" href="#">Детальніше
                    <svg class="blog__svg">
                        <use href="../../images/symbol-defs.svg#icon-arrow-to-right"></use>
                    </svg>
                </a>
                
            
        </li>
    </ul>
    </div>
</section>