<section class="addition">
    <div class="container">
        <h2 class="addition__title">Відмінно дополняють спальню тумба або комод</h2>
        <ul class="addition__list">
            <li class="addition__item">
                <img src="" alt="" class="addition__img">
                <p class="addition__size">Розмір: 61 x 184 x 2130 мм</p>
                <p class="addition__text">Ліжко Спарта / Sparta з підйомним механізмом</p>
                <svg class="addition__svg">
                    <use href="../../images/symbol-defs.svg#icon-check"></use>
                </svg>
                <p class="addition__active">В наявності</p>
                <p class="addition__npn-cost">25 400 грн.</p>
                <p class="addition__cost">15 400 грн.</p>
                <div class="addition__obrane-border">
                    <svg class="addition__obrane-svg">
                        <use href="../../images/symbol-defs.svg#icon-obrane-heard"></use>
                    </svg>
                </div>
                <div class="addition__koshyk-border">
                    <svg class="addition__koshyk-svg">
                        <use href="../../images/symbol-defs.svg#icon-korzina"></use>
                    </svg>
                </div>
            </li>
            <li class="addition__item">
                <img src="" alt="" class="addition__img">
                <p class="addition__size">Розмір: 61 x 184 x 2130 мм</p>
                <p class="addition__text">Ліжко Аргон з підйомним механізмом</p>
                <svg class="addition__svg">
                    <use href="../../images/symbol-defs.svg#icon-check"></use>
                </svg>
                <p class="addition__active">В наявності</p>
                <p class="addition__cost">16 400 грн.</p>
                <div class="addition__obrane-border">
                    <svg class="addition__obrane-svg">
                        <use href="../../images/symbol-defs.svg#icon-obrane-heard"></use>
                    </svg>
                </div>
                <div class="addition__koshyk-border">
                    <svg class="addition__koshyk-svg">
                        <use href="../../images/symbol-defs.svg#icon-korzina"></use>
                    </svg>
                </div>
            </li>
            <li class="addition__item">
                <img src="" alt="" class="addition__img">
                <p class="addition__size">Розмір: 61 x 184 x 2130 мм</p>
                <p class="addition__text">Ліжко Престиж з підйомним механізмом</p>
                <svg class="addition__svg">
                    <use href="../../images/symbol-defs.svg#icon-check"></use>
                </svg>
                <p class="addition__active">В наявності</p>
                <p class="addition__cost">14 969 грн.</p>
                <div class="addition__obrane-border">
                    <svg class="addition__obrane-svg">
                        <use href="../../images/symbol-defs.svg#icon-obrane-heard"></use>
                    </svg>
                </div>
                <div class="addition__koshyk-border">
                    <svg class="addition__koshyk-svg">
                        <use href="../../images/symbol-defs.svg#icon-korzina"></use>
                    </svg>
                </div>
            </li>
            <li class="addition__item">
                <img src="" alt="" class="addition__img">
                <p class="addition__size">Розмір: 61 x 184 x 2130 мм</p>
                <p class="addition__text">Диван Токіо-2</p>
                <svg class="addition__svg">
                    <use href="../../images/symbol-defs.svg#icon-check"></use>
                </svg>
                <p class="addition__active">В наявності</p>
                <p class="addition__cost">13 211 грн.</p>
                <div class="addition__obrane-border">
                    <svg class="addition__obrane-svg">
                        <use href="../../images/symbol-defs.svg#icon-obrane-heard"></use>
                    </svg>
                </div>
                <div class="addition__koshyk-border">
                    <svg class="addition__koshyk-svg">
                        <use href="../../images/symbol-defs.svg#icon-korzina"></use>
                    </svg>
                </div>
            </li>
        </ul>
    </div>
</section>