<section class="advantages">
    <div class="container">
        <ul class="advantages__list">
            <li class="advantages__item">
                <div class="advantages__icon-bc">
                    <svg class="advantages__svg">
                        <use href="../../images/symbol-defs.svg#icon-adres"></use>
                    </svg>
                </div>
                <p class="advantages__subtitle">Доставка</p>
                <p class="advantages__text">Доставка по Києву або по всій Україні</p>
                <div class="advantages__more-container">
                    <p class="advantages__more-text">Детальніше</p>
                    <svg class="advantages__arrow">
                        <use href="../../images/symbol-defs.svg#icon-arrow-to-top-right"></use>
                    </svg>
                </div>
            </li>
            <li class="advantages__item">
                <div class="advantages__icon-bc">
                    <svg class="advantages__svg">
                        <use href="../../images/symbol-defs.svg#icon-oplata"></use>
                    </svg>
                </div>
                <p class="advantages__subtitle">Оплата</p>
                <p class="advantages__text">Карткою на сайті, готівкою або через термінал</p>
                <div class="advantages__more-container">
                    <p class="advantages__more-text">Детальніше</p>
                    <svg class="advantages__arrow">
                        <use href="../../images/symbol-defs.svg#icon-arrow-to-top-right"></use>
                    </svg>
                </div>
            </li>
            <li class="advantages__item">
                <div class="advantages__icon-bc">
                    <svg class="advantages__svg">
                        <use href="../../images/symbol-defs.svg#icon-garantia"></use>
                    </svg>
                </div>
                <p class="advantages__subtitle">Гарантія</p>
                <p class="advantages__text">Гарантія від виробника до 2 років</p>
                <div class="advantages__more-container">
                    <p class="advantages__more-text">Детальніше</p>
                    <svg class="advantages__arrow">
                        <use href="../../images/symbol-defs.svg#icon-arrow-to-top-right"></use>
                    </svg>
                </div>
            </li>
            <li class="advantages__item">
                <div class="advantages__icon-bc">
                    <svg class="advantages__svg">
                        <use href="../../images/symbol-defs.svg#icon-sms-check"></use>
                    </svg>
                </div>
                <p class="advantages__subtitle">Підтримка</p>
                <p class="advantages__text">Безкоштовна консультація по вибору товара</p>
                <div class="advantages__more-container">
                    <p class="advantages__more-text">Детальніше</p>
                    <svg class="advantages__arrow">
                        <use href="../../images/symbol-defs.svg#icon-arrow-to-top-right"></use>
                    </svg>
                </div>
            </li>
        </ul>
    </div>
</section>