<section class="characters">
    <div class="container">
        <h2 class="characters__title"></h2>
        <ul class="characters__list">
            <li class="characters__item">
                <p class="characters__left-text">Довжина (см)</p>
                <div class="characters__dots"></div>
                <p class="characters__right-text">210, 200</p>
            </li>
            <li class="characters__item">
                <p class="characters__left-text">Ширина (см)</p>
                <div class="characters__dots"></div>
                <p class="characters__right-text">132</p>
            </li>
            <li class="characters__item">
                <p class="characters__left-text">Висота (см)</p>
                <div class="characters__dots"></div>
                <p class="characters__right-text">105</p>
            </li>
            <li class="characters__item">
                <p class="characters__left-text">Ширина спального місця (см)</p>
                <div class="characters__dots"></div>
                <p class="characters__right-text">120</p>
            </li>
            <li class="characters__item">
                <p class="characters__left-text">Довжина спального місця (см)</p>
                <div class="characters__dots"></div>
                <p class="characters__right-text">200, 190</p>
            </li>
            <li class="characters__item">
                <p class="characters__left-text">Розмір спального місця</p>
                <div class="characters__dots"></div>
                <p class="characters__right-text">120x200, 120x190</p>
            </li>
            <li class="characters__item">
                <p class="characters__left-text">Колір</p>
                <div class="characters__dots"></div>
                <p class="characters__right-text">Під замовлення</p>
            </li>
            <li class="characters__item">
                <p class="characters__left-text">Форма</p>
                <div class="characters__dots"></div>
                <p class="characters__right-text">Прямокутний</p>
            </li>
            <li class="characters__item">
                <p class="characters__left-text">Кількість ламелей</p>
                <div class="characters__dots"></div>
                <p class="characters__right-text">36</p>
            </li>
            <li class="characters__item">
                <p class="characters__left-text">Основа під матрац</p>
                <div class="characters__dots"></div>
                <p class="characters__right-text">ламіль</p>
            </li>
        </ul>
    </div>
</section>