<section class="description">
    <div class="container">
        <h2 class="description__title">Опис товару</h2>
        <p class="description__text">Модель МК-1 – це ліжко від українського виробника, компанії MegaMebli. Вона
            виготовляється з ДСП та оснащена м'якою спинкою. Також може бути виготовлена з дерев'яного щита (сосни).
            Ламелі виконані з бука. Подібна конструкція характеризується надійністю та привабливим зовнішнім виглядом.
        </p>
        <img src="../../images/card-catalog/palette@2x.webp" alt="палітра" class="description__image">
        <form action="" class="description-form">
            <h2 class="description-form__title">Залишіть свій відгук</h2>
            <input type="text" class="description-form__input description-form__input-name" placeholder="Ваше ім'я прізвище">
            <input type="text" class="description-form__input description-form__input-mail" placeholder="E-mail">
            <input type="text" class="description-form__input description-form__input-review" placeholder="Відгук">
            <p class="description-form__text">Ваша оцінка:</p>
            <ul class="description-form__list">
                <li class="description-form__item">
                    <svg class="description-form__svg">
                        <use href="../../images/symbol-defs.svg#icon-empty-star"></use>
                    </svg>
                </li>
                <li class="description-form__item">
                    <svg class="description-form__svg">
                        <use href="../../images/symbol-defs.svg#icon-empty-star"></use>
                    </svg>
                </li>
                <li class="description-form__item">
                    <svg class="description-form__svg">
                        <use href="../../images/symbol-defs.svg#icon-empty-star"></use>
                    </svg>
                </li>
                <li class="description-form__item">
                    <svg class="description-form__svg">
                        <use href="../../images/symbol-defs.svg#icon-empty-star"></use>
                    </svg>
                </li>
                <li class="description-form__item">
                    <svg class="description-form__svg">
                        <use href="../../images/symbol-defs.svg#icon-empty-star"></use>
                    </svg>
                </li>
            </ul>
            <button class="description-form__btn" type="submit">Залишити відгук</button>
        </form>
    </div>
</section>