<section class="product-card">
    <div class="container">
        <nav class="product-card__nav">
            <a href="" class="product-card__link">Головна</a>
            <svg class="product-card__arrow">
                <use href="../../images/symbol-defs.svg#icon-arrow"></use>
            </svg>
            <a href="" class="product-card__link">Ліжка</a>
            <svg class="product-card__arrow">
                <use href="../../images/symbol-defs.svg#icon-arrow"></use>
            </svg>
            <a href="" class="product-card__link">М'які ліжка</a>
            <svg class="product-card__arrow">
                <use href="../../images/symbol-defs.svg#icon-arrow"></use>
            </svg>
            <a href="" class="product-card__active-link">Двоспальне ліжко з підйомним механізмом Сіті</a>
        </nav>
        <img src="../../images/card-catalog/main-bed@2x.webp" alt="bed" class="product-card__img">
        <button class="product-card__button">
            <svg class="product-card__svg">
                <use href="../../images/symbol-defs.svg#icon-arrow"></use>
            </svg>
        </button>
        <ul class="product-card__list">
            <li class="product-card__item">
                <img src="../../images/card-catalog/active-bed@2x.webp" alt="bed" class="product-card__image">
            </li>
            <li class="product-card__item">
                <img src="../../images/card-catalog/second-bed@2x.webp" alt="bed" class="product-card__image">
            </li>
            <li class="product-card__item">
                <img src="../../images/card-catalog/third-bed@2x.webp" alt="bed" class="product-card__image">
            </li>
            <li class="product-card__item">
                <img src="../../images/card-catalog/four-bed@2x.webp" alt="bed" class="product-card__image">
            </li>
            <li class="product-card__item">
                <img src="../../images/card-catalog/five-bed@2x.webp" alt="bed" class="product-card__image">
            </li>
        </ul>
        <h2 class="product-card__title">Ліжко двоспальне МК-1 з підйомним механізмом</h2>
        <div class="product-card__frame">
            <svg class="product-card__check-svg">
                <use href="../../images/symbol-defs.svg#icon-check"></use>
            </svg>
            <p class="product-card__active">В наявності</p>
            <svg class="product-card__star">
                <use href="../../images/symbol-defs.svg#icon-star"></use>
            </svg>
            <svg class="product-card__star">
                <use href="../../images/symbol-defs.svg#icon-star"></use>
            </svg>
            <svg class="product-card__star">
                <use href="../../images/symbol-defs.svg#icon-star"></use>
            </svg>
            <svg class="product-card__star">
                <use href="../../images/symbol-defs.svg#icon-star"></use>
            </svg>
            <svg class="product-card__star">
                <use href="../../images/symbol-defs.svg#icon-star"></use>
            </svg>
            <svg class="product-card__comment">
                <use href="../../images/symbol-defs.svg#icon-chat"></use>
            </svg>
            <p class="product-card__rewievs">93 отзыва</p>
            <p class="product-card__model">Модель: 62003836</p>
        </div>
        <div class="product-card-box">
            <div class="product-card-box__header">
                <p class="product-card-box__cost">15 400 грн.</p>
                <p class="product-card-box__non-cost">25 400 грн.</p>
                <svg class="product-card-box__svg">
                    <use href="../../images/symbol-defs.svg#icon-obrane-heard"></use>
                </svg>
                <p class="product-card-box__obrane">В обране</p>
            </div>
            <ul class="product-card-box__list">
                <li class="product-card-box__item">
                    <svg class="product-card-box__svg-question">
                        <use href="../../images/symbol-defs.svg#icon-question"></use>
                    </svg>
                    <p class="product-card-box__text">Розмір</p>
                    <div class="product-card-box__choice-box">
                        <p class="product-card-box__choice-text">Виберіть</p>
                        <svg class="product-card-box__arrow">
                            <use href="../../images/symbol-defs.svg#icon-arrow"></use>
                        </svg>
                    </div>
                </li>
                <li class="product-card-box__item">
                    <svg class="product-card-box__svg-question">
                        <use href="../../images/symbol-defs.svg#icon-question"></use>
                    </svg>
                    <p class="product-card-box__text">Ламельний блок</p>
                    <div class="product-card-box__choice-box">
                        <p class="product-card-box__choice-text">Виберіть</p>
                        <svg class="product-card-box__arrow">
                            <use href="../../images/symbol-defs.svg#icon-arrow"></use>
                        </svg>
                    </div>
                </li>
            </ul>
            <svg class="product-card-box__svg-question">
                <use href="../../images/symbol-defs.svg#icon-question"></use>
            </svg>
            <p class="product-card-box__coose-cloth">Виберіть тканину:</p>
            <ul class="product-card-box__cloths">
                <li class="product-card-box__cloth">
                    <img src="../../images/card-catalog/white-color@2x.webp" alt="тканина" class="product-card-box__cloth-img">
                </li>
                <li class="product-card-box__cloth">
                    <img src="../../images/card-catalog/bodily-color@2x.webp" alt="тканина" class="product-card-box__cloth-img">
                </li>
                <li class="product-card-box__cloth">
                    <img src="../../images/card-catalog/active-color@2x.webp" alt="тканина" class="product-card-box__cloth-img">
                </li>
                <li class="product-card-box__cloth">
                    <img src="../../images/card-catalog/blue-color@2x.webp" alt="тканина" class="product-card-box__cloth-img">
                </li>
                <li class="product-card-box__cloth">
                    <img src="../../images/card-catalog/brown-color@2x.webp" alt="тканина" class="product-card-box__cloth-img">
                </li>
                <li class="product-card-box__cloth">
                    <img src="../../images/card-catalog/green-color@2x.webp" alt="тканина" class="product-card-box__cloth-img">
                </li>
            </ul>
            <p class="product-card-box__more-text">Показати всі</p>
            <svg class="product-card-box__more-svg">
                <use href="../../images/symbol-defs.svg#icon-two-arrows-top"></use>
            </svg>
            <div class="product-card-box__buttons">
                <div class="product-card-box__kol-vo">
                    <p class="product-card-box__minus">-</p>
                    <p class="product-card-box__number">1</p>
                    <p class="product-card-box__plus">+</p>
                </div>
                <button class="product-card-box__btn">
                    <svg class="product-card-box__korzina">
                        <use href="../../images/symbol-defs.svg#icon-korzina"></use>
                    </svg>
                    <span>Купити</span>
                </button>
                <button class="product-card-box__credyt-btn">
                    <svg class="product-card-box__credyt-svg">
                        <use href="../../images/symbol-defs.svg#icon-credit"></use>
                    </svg>
                    <span>Купити в кредит</span>
                </button>
            </div>
            <div class="product-card-box__buy-box">
                <svg class="product-card-box__call-svg">
                    <use href="../../images/symbol-defs.svg#icon-card-catalog-call"></use>
                </svg>
                <p class="product-card-box__number">+380  --  ---  --  -- </p>
                <button class="product-card-box__btn-click">Купити в 1 клік</button>
            </div>
        </div>
    </div>
</section>