<section class="recommended-products">
    <div class="container">
        <h2 class="recommended-products__title">Рекомендовані товари</h2>
        <ul class="recommended-products__list">
            <li class="recommended-products__item">
                <img src="" alt="" class="recommended-products__img">
                <p class="recommended-products__size">Розмір: 61 x 184 x 2130 мм</p>
                <p class="recommended-products__text">Ліжко Спарта / Sparta з підйомним механізмом</p>
                <svg class="recommended-products__svg">
                    <use href="../../images/symbol-defs.svg#icon-check"></use>
                </svg>
                <p class="recommended-products__active">В наявності</p>
                <p class="recommended-products__npn-cost">25 400 грн.</p>
                <p class="recommended-products__cost">15 400 грн.</p>
                <div class="recommended-products__obrane-border">
                    <svg class="recommended-products__obrane-svg">
                        <use href="../../images/symbol-defs.svg#icon-obrane-heard"></use>
                    </svg>
                </div>
                <div class="recommended-products__koshyk-border">
                    <svg class="recommended-products__koshyk-svg">
                        <use href="../../images/symbol-defs.svg#icon-korzina"></use>
                    </svg>
                </div>
            </li>
            <li class="recommended-products__item">
                <img src="" alt="" class="recommended-products__img">
                <p class="recommended-products__size">Розмір: 61 x 184 x 2130 мм</p>
                <p class="recommended-products__text">Ліжко Аргон з підйомним механізмом</p>
                <svg class="recommended-products__svg">
                    <use href="../../images/symbol-defs.svg#icon-check"></use>
                </svg>
                <p class="recommended-products__active">В наявності</p>
                <p class="recommended-products__cost">16 400 грн.</p>
                <div class="recommended-products__obrane-border">
                    <svg class="recommended-products__obrane-svg">
                        <use href="../../images/symbol-defs.svg#icon-obrane-heard"></use>
                    </svg>
                </div>
                <div class="recommended-products__koshyk-border">
                    <svg class="recommended-products__koshyk-svg">
                        <use href="../../images/symbol-defs.svg#icon-korzina"></use>
                    </svg>
                </div>
            </li>
            <li class="recommended-products__item">
                <img src="" alt="" class="recommended-products__img">
                <p class="recommended-products__size">Розмір: 61 x 184 x 2130 мм</p>
                <p class="recommended-products__text">Ліжко Престиж з підйомним механізмом</p>
                <svg class="recommended-products__svg">
                    <use href="../../images/symbol-defs.svg#icon-check"></use>
                </svg>
                <p class="recommended-products__active">В наявності</p>
                <p class="recommended-products__cost">14 969 грн.</p>
                <div class="recommended-products__obrane-border">
                    <svg class="recommended-products__obrane-svg">
                        <use href="../../images/symbol-defs.svg#icon-obrane-heard"></use>
                    </svg>
                </div>
                <div class="recommended-products__koshyk-border">
                    <svg class="recommended-products__koshyk-svg">
                        <use href="../../images/symbol-defs.svg#icon-korzina"></use>
                    </svg>
                </div>
            </li>
            <li class="recommended-products__item">
                <img src="" alt="" class="recommended-products__img">
                <p class="recommended-products__size">Розмір: 61 x 184 x 2130 мм</p>
                <p class="recommended-products__text">Диван Токіо-2</p>
                <svg class="recommended-products__svg">
                    <use href="../../images/symbol-defs.svg#icon-check"></use>
                </svg>
                <p class="recommended-products__active">В наявності</p>
                <p class="recommended-products__cost">13 211 грн.</p>
                <div class="recommended-products__obrane-border">
                    <svg class="recommended-products__obrane-svg">
                        <use href="../../images/symbol-defs.svg#icon-obrane-heard"></use>
                    </svg>
                </div>
                <div class="recommended-products__koshyk-border">
                    <svg class="recommended-products__koshyk-svg">
                        <use href="../../images/symbol-defs.svg#icon-korzina"></use>
                    </svg>
                </div>
            </li>
        </ul>
    </div>
</section>