<section class="reviews">
    <div class="container">
        <div class="reviews-header">
            <h2 class="reviews-header__title">Відгуки про Ліжко двоспальне МК-1 з підйомним механізмом</h2>
            <p class="reviews-header__reviews">Всього відгуків: 93</p>
            <ul class="reviews-header__stars">
                <li class="reviews-header__star">
                    <svg class="reviews-header__star-svg">
                        <use href="../../images/symbol-defs.svg#icon-star"></use>
                    </svg>
                </li>
                <li class="reviews-header__star">
                    <svg class="reviews-header__star-svg">
                        <use href="../../images/symbol-defs.svg#icon-star"></use>
                    </svg>
                </li>
                <li class="reviews-header__star">
                    <svg class="reviews-header__star-svg">
                        <use href="../../images/symbol-defs.svg#icon-star"></use>
                    </svg>
                </li>
                <li class="reviews-header__star">
                    <svg class="reviews-header__star-svg">
                        <use href="../../images/symbol-defs.svg#icon-star"></use>
                    </svg>
                </li>
                <li class="reviews-header__star">
                    <svg class="reviews-header__star-svg">
                        <use href="../../images/symbol-defs.svg#icon-star"></use>
                    </svg>
                </li>
            </ul>
            <p class="reviews-header__otsinka">Середня оцінка 4,5</p>
        </div>
        <div class="review1">
            <div class="review1__header">
                <div class="review1__icon-border">
                    <svg class="review1__user">
                        <use href="../../images/symbol-defs.svg#icon-avatar"></use>
                    </svg>
                </div>
                <p class="review1__name">Іван Стедниця</p>
                <ul class="review1__stars">
                    <li class="review1__star">
                        <svg class="review1__star-svg">
                            <use href="../../images/symbol-defs.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li class="review1__star">
                        <svg class="review1__star-svg">
                            <use href="../../images/symbol-defs.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li class="review1__star">
                        <svg class="review1__star-svg">
                            <use href="../../images/symbol-defs.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li class="review1__star">
                        <svg class="review1__star-svg">
                            <use href="../../images/symbol-defs.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li class="review1__star">
                        <svg class="review1__star-svg">
                            <use href="../../images/symbol-defs.svg#icon-star"></use>
                        </svg>
                    </li>
                </ul>
                <p class="review1__date">25.01.2022</p>
            </div>
            <p class="review1__text">Вчора привезли ліжко, і воно дуже класне, краще ніж очікували. Велика, м'яка,
                зручна. Брали разом із матрацом, тому одразу випробували. Є велика ніша для зберігання, поміститься не
                тільки постіль.</p>
            <ul class="review1__buttons">
                <li class="review1__buttons-item">
                    <button class="review1__button">
                        <svg class="review1__button-svg">
                            <use href="../../images/symbol-defs.svg#icon-two-chats"></use>
                        </svg>
                        <span>Відповісти</span>
                    </button>
                </li>
                <li class="review1__buttons-item">
                    <button class="review1__button">
                        <svg class="review1__button-svg">
                            <use href="../../images/symbol-defs.svg#icon-circle-close"></use>
                        </svg>
                        <span>Приховати відповіді</span>
                    </button>
                </li>
                <li class="review1__buttons-item">
                    <button class="review1__button">
                        <svg class="review1__button-svg">
                            <use href="../../images/symbol-defs.svg#icon-like"></use>
                        </svg>
                        <span>Корисний відгук: 24</span>
                    </button>
                </li>
            </ul>
        </div>
        <div class="reviews__line"></div>
        <div class="answer1">
            <div class="answer1__header">
                <div class="answer1__icon-border">
                    <svg class="answer1__user">
                        <use href="../../images/symbol-defs.svg#icon-avatar"></use>
                    </svg>
                </div>
                <p class="answer1__name">Іван Стедниця</p>
                <svg class="answer1__arrow">
                    <use href="../../images/symbol-defs.svg#icon-long-arrow"></use>
                </svg>
                <p class="answer1__name-answer">Іван Стедниця</p>
                <p class="answer1__date">25.01.2022</p>
            </div>
            <p class="answer1__text">Згоден з вами! Довго шукав зручне та недороге ліжко в спальню. Ліжко+матрац
                виходила дуже пристойна сума. Тут знайшов ліжко разом із матрацом за дуже привабливою ціною.
                Передзвонив, уточнив, дій.</p>
        </div>
        <div class="answer2">
            <div class="answer2__header">
                <div class="answer2__icon-border">
                    <svg class="answer2__user">
                        <use href="../../images/symbol-defs.svg#icon-logo-sofa"></use>
                    </svg>
                </div>
                <p class="answer2__name">KROVATO</p>
                <svg class="answer2__arrow">
                    <use href="../../images/symbol-defs.svg#icon-long-arrow"></use>
                </svg>
                <p class="answer2__name-answer">Іван Стедниця</p>
                <p class="answer2__date">25.01.2022</p>
            </div>
            <p class="answer2__text">Дякуємо за відгуки! будемо раді бачити Вас знову!</p>
        </div>
        <div class="review2">
            <div class="review2__header">
                <div class="review2__icon-border">
                    <svg class="review2__user">
                        <use href="../../images/symbol-defs.svg#icon-avatar"></use>
                    </svg>
                </div>
                <p class="review2__name">Іван Стедниця</p>
                <ul class="review2__stars">
                    <li class="review2__star">
                        <svg class="review2__star-svg">
                            <use href="../../images/symbol-defs.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li class="review2__star">
                        <svg class="review2__star-svg">
                            <use href="../../images/symbol-defs.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li class="review2__star">
                        <svg class="review2__star-svg">
                            <use href="../../images/symbol-defs.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li class="review2__star">
                        <svg class="review2__star-svg">
                            <use href="../../images/symbol-defs.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li class="review2__star">
                        <svg class="review2__star-svg">
                            <use href="../../images/symbol-defs.svg#icon-star"></use>
                        </svg>
                    </li>
                </ul>
                <p class="review2__date">25.01.2022</p>
            </div>
            <p class="review2__text">Вчора привезли ліжко, і воно дуже класне, краще ніж очікували. Велика, м'яка,
                зручна. Брали разом із матрацом, тому одразу випробували. Є велика ніша для зберігання, поміститься не
                тільки постіль.</p>
            <ul class="review2__buttons">
                <li class="review2__buttons-item">
                    <button class="review2__button">
                        <svg class="review2__button-svg">
                            <use href="../../images/symbol-defs.svg#icon-circle-close"></use>
                        </svg>
                        <span>Передумав</span>
                    </button>
                </li>
                <li class="review2__buttons-item">
                    <button class="review2__button">
                        <div class="review2__button-number-border">
                            <p class="review2__button-number">2</p>
                        </div>
                        <span>Показати відповіді</span>
                    </button>
                </li>
                <li class="review2__buttons-item">
                    <button class="review2__button">
                        <svg class="review2__button-svg">
                            <use href="../../images/symbol-defs.svg#icon-like"></use>
                        </svg>
                        <span>Корисний відгук: 24</span>
                    </button>
                </li>
            </ul>
        </div>
        <form class="reviews-form">
            <div class="reviews-form__header">
                <svg class="reviews-form__arrow">
                    <use href="../../images/symbol-defs.svg#icon-arrow-from-top-to-right"></use>
                </svg>
                <p class="reviews-form__name">Відповідь для Іван Стедниця</p>
            </div>
            <ul class="reviews-form__list">
                <li class="reviews-form__item">
                    <input type="text" class="reviews-form__input" placeholder="Ваше ім'я прізвище">
                </li>
                <li class="reviews-form__item">
                    <input type="text" class="reviews-form__input" placeholder="E-mail">
                </li>
                <li class="reviews-form__item">
                    <input type="text" class="reviews-form__input" placeholder="Відгук">
                </li>
            </ul>
            <div class="reviews-form__buttons">
                <button class="reviews-form__btn-submit">Відправити</button>
                <button class="reviews-form__btn-cancel">Відмінити</button>
            </div>
        </form>
        <ul class="reviews__list">
            <li class="reviews__item">
                <div class="review-features">
                    <div class="review-features__header">
                        <div class="review-features__icon-border">
                            <svg class="review-features__user">
                                <use href="../../images/symbol-defs.svg#icon-avatar"></use>
                            </svg>
                        </div>
                        <p class="review-features__name">Іван Стедниця</p>
                        <ul class="review-features__stars">
                            <li class="review-features__star">
                                <svg class="review-features__star-svg">
                                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                                </svg>
                            </li>
                            <li class="review-features__star">
                                <svg class="review-features__star-svg">
                                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                                </svg>
                            </li>
                            <li class="review-features__star">
                                <svg class="review-features__star-svg">
                                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                                </svg>
                            </li>
                            <li class="review-features__star">
                                <svg class="review-features__star-svg">
                                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                                </svg>
                            </li>
                            <li class="review-features__star">
                                <svg class="review-features__star-svg">
                                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                                </svg>
                            </li>
                        </ul>
                        <p class="review-features__date">25.01.2022</p>
                    </div>
                    <p class="review-features__text">Вчора привезли ліжко, і воно дуже класне, краще ніж очікували.
                        Велика, м'яка,
                        зручна. Брали разом із матрацом, тому одразу випробували. Є велика ніша для зберігання,
                        поміститься не
                        тільки постіль.</p>
                    <ul class="review-features__buttons">
                        <li class="review-features__buttons-item">
                            <button class="review-features__button">
                                <svg class="review-features__button-svg">
                                    <use href="../../images/symbol-defs.svg#icon-two-chats"></use>
                                </svg>
                                <span>Відповісти</span>
                            </button>
                        </li>
                        <li class="review-features__buttons-item">
                            <button class="review-features__button">
                                <div class="review-features__button-number-border">
                                    <p class="review-features__button-number">2</p>
                                </div>
                                <span>Показати відповіді</span>
                            </button>
                        </li>
                        <li class="review-features__buttons-item">
                            <button class="review-features__button">
                                <svg class="review-features__button-svg">
                                    <use href="../../images/symbol-defs.svg#icon-like"></use>
                                </svg>
                                <span>Корисний відгук: 24</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="reviews__item">
                <div class="review-features">
                    <div class="review-features__header">
                        <div class="review-features__icon-border">
                            <svg class="review-features__user">
                                <use href="../../images/symbol-defs.svg#icon-avatar"></use>
                            </svg>
                        </div>
                        <p class="review-features__name">Іван Стедниця</p>
                        <ul class="review-features__stars">
                            <li class="review-features__star">
                                <svg class="review-features__star-svg">
                                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                                </svg>
                            </li>
                            <li class="review-features__star">
                                <svg class="review-features__star-svg">
                                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                                </svg>
                            </li>
                            <li class="review-features__star">
                                <svg class="review-features__star-svg">
                                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                                </svg>
                            </li>
                            <li class="review-features__star">
                                <svg class="review-features__star-svg">
                                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                                </svg>
                            </li>
                            <li class="review-features__star">
                                <svg class="review-features__star-svg">
                                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                                </svg>
                            </li>
                        </ul>
                        <p class="review-features__date">25.01.2022</p>
                    </div>
                    <p class="review-features__text">Вчора привезли ліжко, і воно дуже класне, краще ніж очікували.
                        Велика, м'яка,
                        зручна. Брали разом із матрацом, тому одразу випробували. Є велика ніша для зберігання,
                        поміститься не
                        тільки постіль.</p>
                    <ul class="review-features__buttons">
                        <li class="review-features__buttons-item">
                            <button class="review-features__button">
                                <svg class="review-features__button-svg">
                                    <use href="../../images/symbol-defs.svg#icon-two-chats"></use>
                                </svg>
                                <span>Відповісти</span>
                            </button>
                        </li>
                        <li class="review-features__buttons-item">
                            <button class="review-features__button">
                                <div class="review-features__button-number-border">
                                    <p class="review-features__button-number">2</p>
                                </div>
                                <span>Показати відповіді</span>
                            </button>
                        </li>
                        <li class="review-features__buttons-item">
                            <button class="review-features__button">
                                <svg class="review-features__button-svg">
                                    <use href="../../images/symbol-defs.svg#icon-like"></use>
                                </svg>
                                <span>Корисний відгук: 24</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="reviews__item">
                <div class="review-features">
                    <div class="review-features__header">
                        <div class="review-features__icon-border">
                            <svg class="review-features__user">
                                <use href="../../images/symbol-defs.svg#icon-avatar"></use>
                            </svg>
                        </div>
                        <p class="review-features__name">Іван Стедниця</p>
                        <ul class="review-features__stars">
                            <li class="review-features__star">
                                <svg class="review-features__star-svg">
                                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                                </svg>
                            </li>
                            <li class="review-features__star">
                                <svg class="review-features__star-svg">
                                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                                </svg>
                            </li>
                            <li class="review-features__star">
                                <svg class="review-features__star-svg">
                                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                                </svg>
                            </li>
                            <li class="review-features__star">
                                <svg class="review-features__star-svg">
                                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                                </svg>
                            </li>
                            <li class="review-features__star">
                                <svg class="review-features__star-svg">
                                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                                </svg>
                            </li>
                        </ul>
                        <p class="review-features__date">25.01.2022</p>
                    </div>
                    <p class="review-features__text">Вчора привезли ліжко, і воно дуже класне, краще ніж очікували.
                        Велика, м'яка,
                        зручна. Брали разом із матрацом, тому одразу випробували. Є велика ніша для зберігання,
                        поміститься не
                        тільки постіль.</p>
                    <ul class="review-features__buttons">
                        <li class="review-features__buttons-item">
                            <button class="review-features__button">
                                <svg class="review-features__button-svg">
                                    <use href="../../images/symbol-defs.svg#icon-two-chats"></use>
                                </svg>
                                <span>Відповісти</span>
                            </button>
                        </li>
                        <li class="review-features__buttons-item">
                            <button class="review-features__button">
                                <div class="review-features__button-number-border">
                                    <p class="review-features__button-number">2</p>
                                </div>
                                <span>Показати відповіді</span>
                            </button>
                        </li>
                        <li class="review-features__buttons-item">
                            <button class="review-features__button">
                                <svg class="review-features__button-svg">
                                    <use href="../../images/symbol-defs.svg#icon-like"></use>
                                </svg>
                                <span>Корисний відгук: 24</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <button class="reviews__button">
            <svg class="reviews__button-svg">
                <use href="../../images/symbol-defs.svg#icon-reload"></use>
            </svg>
            <span>Показати ще відгуки</span>
        </button>
    </div>
</section>