<section class="contact">
    <div class="container">
    <h1 class="contact__title">Контакти</h1>
    <ul class="contact__list">
        <li class="contact__item">
            <img src="../../images/contacts-page/tel@1x.webp" alt="213">
            <h3 class="contact__name">Телефони:</h3>
            <a class="contact__link" href="
            tel:+380679294545">
            +38 067 929-45-45 <br>
        </a> 
            <a class="contact__link" href="
            tel:+380501334545">
            +38 050 133-45-45 <br>
        </a>
            <a class="contact__link" href="
            tel:+380931707545">
            +38 067 929-45-45 <br>
        </a>   
        </li>
        <li class="contact__item">
            <img src="../../images/contacts-page/mail@1x.webp" alt="213">
             <h3 class="contact__name">Напишіть нам:</h3>
            <a class="contact__link" href="mailto:info.krovato@gmail.com">info.krovato@gmail.com</a>
        </li>
        <li class="contact__item">
            <img src="../../images/contacts-page/adres@1x.webp" alt="213">
            <h3 class="contact__name">Де ми знаходимось:</h3>
            <p class="contact__text">м. Київ провулок <br> Ізяславський 52, пов. 2</p>
        </li>
        <li class="contact__item">
            <img src="../../images/contacts-page/calendar@1x.webp" alt="213">
            <h3 class="contact__name">Графік роботи:</h3>
            <p class="contact__text">Працюємо щодня <br> з 9:00 до 18:00</p>
        </li>
    </ul>
    <ul class="contact__list-map">
        <li class="contact__item-map">
    <img class="contact__img" src="../../images/contacts-page/office-img@1x.webp" alt="123">
    <iframe class="contact__map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d174.7795919311427!2d30.42354827749683!3d50.39595743383892!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4c985b50a7e6d%3A0x3d3fa41b01332a2a!2z0JrRgNC-0LLQsNGC0L4!5e0!3m2!1sru!2sua!4v1711742065239!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</li>
    </ul>
   
    </div>
</section>  