<section class="route">
    <div class="container">
        <h1 class="route__title">Як дістатися до нашої виставки «Кровато» від метро:</h1>
        <ul class="route__list">
            <li class="route__item">
                <p class="route__text">Від ст. м. «Святошино» - маршрутне таксі № 461 виходити на зупинці
                    <br> «Путопровід». </p>
            </li>
            <li class="route__item">
                <p class="route__text">
                    Від ст. м. «Академмістечко» — маршрутне таксі № 56, 56Д у
                    <br> напрямку Кільцевої дороги, повз завод «Електронмаш», зуп.
                    <br> «Литвиненко-Вольгемут», минаючи поворот на 
                    <br> Софіївську Борщагівку та Вишневе, зупинка одразу за Жулянським 
                    <br> мостом, виходити на зупинці «Путопровід».</p>
            </li>
            <li class="route__item">
                <p class="route__text">
                    Від ст. м. «Васильківська» — маршрутне таксі № 208, 56Д, 
                    <br> 904 у напрямку Кільцевої дороги, виходити на зупинці 
                    <br> «Путопровід».</p>
            </li>
            <li class="route__item">
                <p class="route__text">
                    Від ст. м (Виставкового центру) — автобус 56 та маршрутне 
                    <br> таксі № 208,499,461,904 у напрямку Кільцевої дороги, 
                    <br> виходити на зупинці «Путепровід».</p>
            </li>
            <li class="route__item">
                <p class="route__text">
                    Від м.Вишневе, маршрутним таксі 718, виходити на зупинці 
                   <br> (Путопровід).</p>
            </li>
            <li class="route__item">
                <p class="route__text">
                    Від Севастопольської площі, маршрутне таксі 496, 499,
                    <br> виходити на зупинці (Путопровід ).</p>
            </li>
        </ul>
    </div>
</section>