<section class="about">
  <div class="container">
    <h3>KROVATO - коли потрібні якісні меблі за доступною ціною!</h3>
    <p>
      Якщо в пошуковий рядок браузера ввести запит: «Куплю ліжко, шафу, диван»,
      система видасть сотні продавців, що спеціалізуються з продажу цього
      товару. Але далеко не всі магазини та сайти в інтернеті можуть
      запропонувати такий самий різноманітний асортимент, як наша компанія. Та й
      з нашими цінами конкурувати можуть мало хто. Адже товар ми отримуємо
      безпосередньо від виробників, не переплачуючи за послуги посередників. До
      того ж, продажі ми ведемо як онлайн, так і в салоні, при цьому ціна на
      асортимент онлайн та офлайн - однакова. Ми співпрацюємо тільки з
      найкращими вітчизняними та зарубіжними фабриками та компаніями, які
      отримали визнання покупців та експертів меблевої справи. Для нас важливо,
      щоб товар, який ми продаємо, відповідав міжнародним стандартам якості, був
      із сертифікованих матеріалів – довговічних, красивих та екологічно чистих.
      Ми з особливою ретельністю відбираємо пропозиції для магазину, тому можемо
      поручитися за їхню якість і впевнено рекомендувати клієнтам. У нас ви
      легко знайдете меблеві серії в класичному та модерному стилі, лінійки для
      оформлення житла в дусі романтики або скандинавського лаконізму. ..
    </p>
    <a href="#" class="slider__down">
        <svg class="slider__down-svg">
          <use href="../../images/symbol-defs.svg#icon-big-arrow"></use>
        </svg>
    </a>
  </div>
</section>
