<section class="news">
    <div class="container">
      <h3 class="news__title">Свіжі статті та останні новини</h3>
      <a class="news__link" href="#"
        >Читати блог
        <svg class="right-svg">
          <use href="../../images/symbol-defs.svg#icon-arrow-to-right"></use></svg></a>
          <a href="#" class="slider__left">
              <svg class="slider__left-svg">
                <use href="../../images/symbol-defs.svg#icon-arrow-left"></use>
              </svg>
          </a>
          <a href="#" class="slider__right">
              <svg class="slider__right-svg">
                <use href="../../images/symbol-defs.svg#icon-arrow-right"></use>
              </svg>
          </a>

          <ul class="news__list">
            <li class="news__item">
                <a href="" class="news__link-blog">
                    <picture>
                        <source
                          srcset="
                            ../../images/main-page/interior1@1x.webp 1x,
                            ../../images/main-page/interior1@2x.webp 2x
                          "
                          media="(min-width: 1200px)"
                        />
                        <!-- <source srcset=""> -->
                        <img
                          class="slider__img"
                          src="../../images/main-page/interior1@1x.webp"
                          alt="Slider"
                        />
                      </picture>
                    <h3 class="news__name"></h3>
                    <a href="#" class="news__link-more">Детальніше<svg class="right-svg">
                        <use href="../../images/symbol-defs.svg#icon-arrow-to-right"></use></svg>
                    </a>
            </li>
            <li class="news__item">
                <a href="" class="news__link-blog">
                    <picture>
                        <source
                          srcset="
                            ../../images/main-page/interior2@1x.webp 1x,
                            ../../images/main-page/interior2@2x.webp 2x
                          "
                          media="(min-width: 1200px)"
                        />
                        <!-- <source srcset=""> -->
                        <img
                          class="slider__img"
                          src="../../images/main-page/interior2@1x.webp"
                          alt="Slider"
                        />
                      </picture>
                    <h3 class="news__name"></h3>
                    <a href="#" class="news__link-more">Детальніше<svg class="right-svg">
                        <use href="../../images/symbol-defs.svg#icon-arrow-to-right"></use></svg>
                    </a>
            </li>
            <li class="news__item">
                <a href="" class="news__link-blog">
                    <picture>
                        <source
                          srcset="
                            ../../images/main-page/interior3@1x.webp 1x,
                            ../../images/main-page/interior3@2x.webp 2x
                          "
                          media="(min-width: 1200px)"
                        />
                        <!-- <source srcset=""> -->
                        <img
                          class="slider__img"
                          src="../../images/main-page/interior3@1x.webp"
                          alt="Slider"
                        />
                      </picture>
                    <h3 class="news__name"></h3>
                    <a href="#" class="news__link-more">Детальніше<svg class="right-svg">
                        <use href="../../images/symbol-defs.svg#icon-arrow-to-right"></use></svg>
                    </a>
            </li>
          </ul>
          </div>
          </section>