<section class="products">
  <div class="container">
    <h3 class="products__title">Найпопулярніші товари</h3>
    <a class="products__link" href="#"
      >Дивитись всі
      <svg class="right-svg">
        <use href="../../images/symbol-defs.svg#icon-arrow-to-right"></use></svg></a>
    <ul class="products__list">
      <li class="products__item">
        <picture>
          <source
            srcset="
              ../../images/main-page/bed-sparta@1x.webp 1x,
              ../../images/main-page/bed-sparta@2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../../images/main-page/phone/bed-sparta@1x.webp 1x,
              ../../images/main-page/phone/bed-sparta@2x.webp 2x
            "
          />
          <img
            class="slider__img"
            src="../../images/main-page/bed-sparta@1x.webp"
            alt="Slider"
          />
        </picture>
        <p class="products__size">Розмір: 61 x 184 x 2130 мм</p>
        <h4 class="products__name">
          Ліжко Спарта / Sparta з підйомним механізмом
        </h4>
        <p class="products__paragraph">
          <svg class="products_svg-buy">
            <use href="../../images/symbol-defs.svg#icon-check"></use></svg>В наявності
        </p>
        <p class="products__discount">25 400 грн.</p>
        <p class="products__price">15 400 грн.</p>
        <svg class="obrane__svg">
          <use href="../../images/symbol-defs.svg#icon-obrane-heard"></use>
        </svg>
        <svg class="korzina__svg">
          <use href="../../images/symbol-defs.svg#icon-korzina"></use>
        </svg>
      </li>
      <li class="products__item">
        <picture>
          <source
            srcset="
              ../../images/main-page/bed-argon@1x.webp 1x,
              ../../images/main-page/bed-argon@2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../../images/main-page/phone/bed-argon@1x.webp 1x,
              ../../images/main-page/phone/bed-argon@2x.webp 2x
            "
          />
          <img
            class="slider__img"
            src="../../images/main-page/bed-argon@1x.webp"
            alt="Slider"
          />
        </picture>
        <p class="products__paragraph">Розмір: 61 x 184 x 2130 мм</p>
        <h4 class="products__name">Ліжко Аргон з підйомним механізмом</h4>
        <p class="products__paragraph">
          <svg class="products_svg-buy">
            <use href="../../images/symbol-defs.svg#icon-check"></use></svg>В наявності
        </p>
        <p class="products__price">16 400 грн.</p>
        <svg class="obrane__svg">
          <use href="../../images/symbol-defs.svg#icon-obrane-heard"></use>
        </svg>
        <svg class="korzina__svg">
          <use href="../../images/symbol-defs.svg#icon-korzina"></use>
        </svg>
      </li>
      <li class="products__item">
        <picture>
          <source
            srcset="
              ../../images/main-page/bed-prestige@1x.webp 1x,
              ../../images/main-page/bed-prestige@2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../../images/main-page/phone/bed-prestige@1x.webp 1x,
              ../../images/main-page/phone/bed-prestige@2x.webp 2x
            "
          />
          <img
            class="slider__img"
            src="../../images/main-page/bed-prestige@1x.webp"
            alt="Slider"
          />
        </picture>
        <p class="products__paragraph">Розмір: 61 x 184 x 2130 мм</p>
        <h4 class="products__name">Ліжко Престиж з підйомним механізмом</h4>
        <p class="products__paragraph">
          <svg class="products_svg-buy">
            <use href="../../images/symbol-defs.svg#icon-check"></use></svg>В наявності
        </p>
        <p class="products__price">14 969 грн.</p>
        <svg class="obrane__svg">
          <use href="../../images/symbol-defs.svg#icon-obrane-heard"></use>
        </svg>
        <svg class="korzina__svg">
          <use href="../../images/symbol-defs.svg#icon-korzina"></use>
        </svg>
      </li>
      <li class="products__item">
        <picture>
          <source
            srcset="
              ../../images/main-page/sofa-tokio@1x.webp 1x,
              ../../images/main-page/sofa-tokio@2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../../images/main-page/phone/sofa-tokio@1x.webp 1x,
              ../../images/main-page/phone/sofa-tokio@2x.webp 2x
            "
          />
          <img
            class="slider__img"
            src="../../images/main-page/sofa-tokio@1x.webp"
            alt="Slider"
          />
        </picture>
        <p class="products__paragraph">Розмір: 61 x 184 x 2130 мм</p>
        <h4 class="products__name">Диван Токіо-2</h4>
        <p class="products__paragraph">
          <svg class="products_svg-buy">
            <use href="../../images/symbol-defs.svg#icon-check"></use></svg>В наявності
        </p>
        <p class="products__price">13 211 грн.</p>
        <svg class="obrane__svg">
          <use href="../../images/symbol-defs.svg#icon-obrane-heard"></use>
        </svg>
        <svg class="korzina__svg">
          <use href="../../images/symbol-defs.svg#icon-korzina"></use>
        </svg>
      </li>
      <li class="products__item">
        <picture>
          <source
            srcset="
              ../../images/main-page/matrace-largo@1x.webp 1x,
              ../../images/main-page/matrace-largo@2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../../images/main-page/phone/matrace-largo@1x.webp 1x,
              ../../images/main-page/phone/matrace-largo@2x.webp 2x
            "
          />
          <img
            class="slider__img"
            src="../../images/main-page/matrace-largo@1x.webp"
            alt="Slider"
          />
        </picture>
        <p class="products__paragraph">Розмір: 61 x 184 x 2130 мм</p>
        <h4 class="products__name">Матрац Largo SLIM / Ларго Слім</h4>
        <p class="products__paragraph">
          <svg class="products_svg-buy">
            <use href="../../images/symbol-defs.svg#icon-check"></use></svg>В наявності
        </p>
        <p class="products__discount">3 122 грн.</p>
        <p class="products__price">2 810 грн.</p>
        <svg class="obrane__svg">
          <use href="../../images/symbol-defs.svg#icon-obrane-heard"></use>
        </svg>
        <svg class="korzina__svg">
          <use href="../../images/symbol-defs.svg#icon-korzina"></use>
        </svg>
      </li>
      <li class="products__item">
        <picture>
          <source
            srcset="
              ../../images/main-page/matrace-argentum@1x.webp 1x,
              ../../images/main-page/matrace-argentum@2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../../images/main-page/phone/matrace-argentum@1x.webp 1x,
              ../../images/main-page/phone/matrace-argentum@2x.webp 2x
            "
          />
          <img
            class="slider__img"
            src="../../images/main-page/matrace-argentum@1x.webp"
            alt="Slider"
          />
        </picture>
        <p class="products__paragraph">Розмір: 61 x 184 x 2130 мм</p>
        <h4 class="products__name">
          Матрац ARGENTUM AMALTEA / Аргентум Амалті
        </h4>
        <p class="products__paragraph">
          <svg class="products_svg-buy">
            <use href="../../images/symbol-defs.svg#icon-check"></use></svg>В наявності
        </p>
        <p class="products__discount">5 966 грн.</p>
        <p class="products__price">5 071 грн.</p>
        <svg class="obrane__svg">
          <use href="../../images/symbol-defs.svg#icon-obrane-heard"></use>
        </svg>
        <svg class="korzina__svg">
          <use href="../../images/symbol-defs.svg#icon-korzina"></use>
        </svg>
      </li>
      <li class="products__item">
        <picture>
          <source
            srcset="
              ../../images/main-page/sofa-bravo@1x.webp 1x,
              ../../images/main-page/sofa-bravo@2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../../images/main-page/phone/sofa-bravo@1x.webp 1x,
              ../../images/main-page/phone/sofa-bravo@2x.webp 2x
            "
          />
          <img
            class="slider__img"
            src="../../images/main-page/sofa-bravo@1x.webp"
            alt="Slider"
          />
        </picture>
        <p class="products__paragraph">Розмір: 61 x 184 x 2130 мм</p>
        <h4 class="products__name">Диван Браво</h4>
        <p class="products__paragraph">
          <svg class="products_svg-buy">
            <use href="../../images/symbol-defs.svg#icon-check"></use></svg>В наявності
        </p>
        <p class="products__price">10 008 грн.</p>
        <svg class="obrane__svg">
          <use href="../../images/symbol-defs.svg#icon-obrane-heard"></use>
        </svg>
        <svg class="korzina__svg">
          <use href="../../images/symbol-defs.svg#icon-korzina"></use>
        </svg>
      </li>
      <li class="products__item">
        <picture>
          <source
            srcset="
              ../../images/main-page/bed-mk5@1x.webp 1x,
              ../../images/main-page/bed-mk5@2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../../images/main-page/phone/bed-mk5@1x.webp 1x,
              ../../images/main-page/phone/bed-mk5@2x.webp 2x
            "
          />
          <img
            class="slider__img"
            src="../../images/main-page/bed-mk5@1x.webp"
            alt="Slider"
          />
        </picture>
        <p class="products__paragraph">Розмір: 61 x 184 x 2130 мм</p>
        <h4 class="products__name">Ліжко МК-5</h4>
        <p class="products__paragraph">
          <svg class="products_svg-buy">
            <use href="../../images/symbol-defs.svg#icon-check"></use></svg>В наявності
        </p>
        <p class="products__price">8 775 грн.</p>
        <svg class="obrane__svg">
          <use href="../../images/symbol-defs.svg#icon-obrane-heard"></use>
        </svg>
        <svg class="korzina__svg">
          <use href="../../images/symbol-defs.svg#icon-korzina"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
