<section class="category">
  <div class="container">
    <h2 class="category__title">Популярні категорії</h2>
    <a class="products__link" href="#"
      >Дивитись всі
      <svg class="right-svg">
        <use href="../../images/symbol-defs.svg#icon-arrow-to-right"></use></svg></a>
    <ul class="category__list">
      <li class="category__item">
        <h4 class="category__name">Ліжка</h4>
        <p class="category__number">54</p>
                <picture>
          <source
            srcset="
              ../../images/main-page/beds@1x.webp 1x,
              ../../images/main-page/beds@2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../../images/main-page/phone/beds@1x.webp 1x,
              ../../images/main-page/phone/beds@2x.webp 2x
            "
          />
          <img
            class="slider__img"
            src="../../images/main-page/beds@1x.webp"
            alt="Slider"
          />
        </picture>
      </li>
      <li class="category__item">
        <h4 class="category__name">Матраци</h4>
        <p class="category__number">30</p>
        <picture>
          <source
            srcset="
              ../../images/main-page/matrace@1x.webp 1x,
              ../../images/main-page/matrace@2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../../images/main-page/phone/matrace@1x.webp 1x,
              ../../images/main-page/phone/matrace@2x.webp 2x
            "
          />
          <img
            class="slider__img"
            src="../../images/main-page/matrace@1x.webp"
            alt="Slider"
          />
        </picture>
      </li>
      <li class="category__item">
        <h4 class="category__name">М'які меблі</h4>
        <p class="category__number">196</p>
                <picture>
          <source
            srcset="
              ../../images/main-page/upholstered@1x.webp 1x,
              ../../images/main-page/upholstered@2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../../images/main-page/phone/upholstered@1x.webp 1x,
              ../../images/main-page/phone/upholstered@2x.webp 2x
            "
          />
          <img
            class="slider__img"
            src="../../images/main-page/upholstered@1x.webp"
            alt="Slider"
          />
        </picture>
      </li>
      <li class="category__item">
        <h4 class="category__name">Шафи</h4>
        <p class="category__number">79</p>
                <picture>
          <source
            srcset="
              ../../images/main-page/wardrobe@1x.webp 1x,
              ../../images/main-page/wardrobe@2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../../images/main-page/phone/wardrobe@1x.webp 1x,
              ../../images/main-page/phone/wardrobe@2x.webp 2x
            "
          />
          <img
            class="slider__img"
            src="../../images/main-page/wardrobe@1x.webp"
            alt="Slider"
          />
        </picture>
      </li>
      <li class="category__item">
        <h4 class="category__name">Комоди</h4>
        <p class="category__number">54</p>
                <picture>
          <source
            srcset="
              ../../images/main-page/dresser@1x.webp 1x,
              ../../images/main-page/dresser@2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../../images/main-page/phone/dresser@1x.webp 1x,
              ../../images/main-page/phone/dresser@2x.webp 2x
            "
          />
          <img
            class="slider__img"
            src="../../images/main-page/dresser@1x.webp"
            alt="Slider"
          />
        </picture>
      </li>
      <li class="category__item">
        <h4 class="category__name">Тумби</h4>
        <p class="category__number">64</p>
                <picture>
          <source
            srcset="
              ../../images/main-page/stone@1x.webp 1x,
              ../../images/main-page/stone@2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../../images/main-page/phone/stone@1x.webp 1x,
              ../../images/main-page/phone/stone@2x.webp 2x
            "
          />
          <img
            class="slider__img"
            src="../../images/main-page/stone@1x.webp"
            alt="Slider"
          />
        </picture>
      </li>
      <li class="category__item">
        <h4 class="category__name">Столи</h4>
        <p class="category__number">35</p>
                <picture>
          <source
            srcset="
              ../../images/main-page/table@1x.webp 1x,
              ../../images/main-page/table@2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../../images/main-page/phone/table@1x.webp 1x,
              ../../images/main-page/phone/table@2x.webp 2x
            "
          />
          <img
            class="slider__img"
            src="../../images/main-page/table@1x.webp"
            alt="Slider"
          />
        </picture>
      </li>
      <li class="category__item">
        <h4 class="category__name">Стільці</h4>
        <p class="category__number">89</p>
                <picture>
          <source
            srcset="
              ../../images/main-page/chair@1x.webp 1x,
              ../../images/main-page/chair@2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../../images/main-page/phone/chair@1x.webp 1x,
              ../../images/main-page/phone/chair@2x.webp 2x
            "
          />
          <img
            class="slider__img"
            src="../../images/main-page/chair@1x.webp"
            alt="Slider"
          />
        </picture>
      </li>
      <li class="category__item">
        <h4 class="category__name">Меблеві стіни</h4>
        <p class="category__number">24</p>
                <picture>
          <source
            srcset="
              ../../images/main-page/furniture@1x.webp 1x,
              ../../images/main-page/furniture@2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../../images/main-page/phone/furniture@1x.webp 1x,
              ../../images/main-page/phone/furniture@2x.webp 2x
            "
          />
          <img
            class="slider__img"
            src="../../images/main-page/furniture@1x.webp"
            alt="Slider"
          />
        </picture>
      </li>
      <li class="category__item">
        <h4 class="category__name">Кухні</h4>
        <p class="category__number">30</p>
                <picture>
          <source
            srcset="
              ../../images/main-page/kitchen@1x.webp 1x,
              ../../images/main-page/kitchen@2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../../images/main-page/phone/kitchen@1x.webp 1x,
              ../../images/main-page/phone/kitchen@2x.webp 2x
            "
          />
          <img
            class="slider__img"
            src="../../images/main-page/kitchen@1x.webp"
            alt="Slider"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
