<section class="slider">
  <div class="container">
    <ul class="slider__list">
    <picture>
      <source
        srcset="
          ../../images/main-page/slider@1x.webp 1x,
          ../../images/main-page/slider@2x.webp 2x
        "
        media="(min-width: 1200px)"
      />
      <!-- <source srcset=""> -->
      <img
        class="slider__img"
        src="../../images/main-page/slider@1x.webp"
        alt="Slider"
      />
    </picture>

    <a href="#" class="slider__left">
        <svg class="slider__left-svg">
          <use href="../../images/symbol-defs.svg#icon-arrow-left"></use>
        </svg>
    </a>
    <a href="#" class="slider__right">
        <svg class="slider__right-svg">
          <use href="../../images/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
    </a>


    <li class="slider__item">
    <a href="#" class="slider__empty">
        <svg class="slider__right-svg">
          <use href="../../images/symbol-defs.svg#icon-cycle"></use>
        </svg>
    </a>
    <a href="#" class="slider__empty">
        <svg class="slider__right-svg">
          <use href="../../images/symbol-defs.svg#icon-cycle"></use>
        </svg>
    </a>
    <a href="#" class="slider__empty">
        <svg class="slider__right-svg">
          <use href="../../images/symbol-defs.svg#icon-cycle-orange"></use>
        </svg>
    </a>
    <a href="#" class="slider__empty">
        <svg class="slider__right-svg">
          <use href="../../images/symbol-defs.svg#icon-cycle"></use>
        </svg>
    </a>
    <a href="#" class="slider__empty">
        <svg class="slider__right-svg">
          <use href="../../images/symbol-defs.svg#icon-cycle"></use>
        </svg>
    </a>
</li>
</ul>
  </div>
</section>
