<section class="advantages">
  <div class="contaner">
    <h2 class="advantages__title">KROVATO це</h2>
    <ul class="advantages__list">
      <li class="advantages__item">
        <svg class="advantages__icon">
          <use href="../../images/symbol-defs.svg#icon-check"></use>
        </svg>
        <h3 class="advantages__text">Власне виробництво</h3>
        <p class="advantages__subtext">
          Також у нас є своє виробництво, завдяки чому ми можемо виготовити
          меблі безпосередньо за Вашими побажаннями: нестандартний розмір,
          висота, виготовлення меблів за Вашим ескізом. Ліжка, тумби, комоди,
          шафи - все це ми можемо доопрацювати за Вашим бажанням.
        </p>
      </li>
      <li class="advantages__item">
        <svg class="advantages__icon">
          <use href="../../images/symbol-defs.svg#icon-check"></use>
        </svg>
        <h3 class="advantages__text">Професіонали</h3>
        <p class="advantages__subtext">
          Наші вироби виготовлені на професійному обладнанні з ясена, вільхи,
          бука, дуба, металу та ДСП. Фабрики із закритим циклом виробництва –   
          контроль якості кожному етапі: від завезення дерева в цех до складання
          ліжка в клієнта.
        </p>
      </li>
      <li class="advantages__item">
        <svg class="advantages__icon">
          <use href="../../images/symbol-defs.svg#icon-check"></use>
        </svg>
        <h3 class="advantages__text">Великий вибір</h3>
        <p class="advantages__subtext">
          На нашому сайті Ви легко зможете підібрати собі спальню, вітальню або
          дитячу кімнату "під ключ". Величезний вибір матраців, ліжок, а також
          тумбочок та комодів чекають на Вас.
        </p>
      </li>
      <li class="advantages__item">
        <svg class="advantages__icon">
          <use href="../../images/symbol-defs.svg#icon-check"></use>
        </svg>
        <h3 class="advantages__text">Контроль якості</h3>
        <p class="advantages__subtext">
          Наші досвідчені менеджери, з радістю допоможуть підібрати Вам меблі,
          які Вас радуватимуть довгі роки. Завдяки власній службі доставки та
          збирання, ми підтримуємо контроль якості від виробництва до клієнта.
        </p>
      </li>
    </ul>
  </div>
</section>
