<section class="pay">
  <div class="container">
    <nav class="pay__navigation">
      <a class="pay__main-link" href="#">Головна</a>
      <svg class="pay__icon">
        <use href="../../images/symbol-defs.svg#icon-arrow"></use>
      </svg>
      <a class="pay__pay-link" href="">Про нас</a>
    </nav>

    <div class="pay__section">
      <h2 class="pay__title">Про нас</h2>
      <p class="pay__text">
        Магазин меблів для дому Krovato є дистриб'ютором високоякісних меблів.
      </p>
      <p class="pay__subtext">
        Ми працюємо тільки з провідними виробниками ліжок та матраців, такими як ЕММ, Estella, Метакам, Legko, HighFoam, ArborDrev.
      </p>
    </div>
  </div>
</section>
