<section class="about-us">
  <div class="container">
    <nav class="about-us__navigation">
      <a class="about-us__main-link" href="../../images/symbol-defs.svg#icon-arrow">Головна</a>
      <svg class="about-us__icon">
        <use href=""></use>
      </svg>
      <a class="about-us__about-us-link" href="#">Про нас</a>
    </nav>
    <div class="about-us__section">
      <h2 class="about-us__title">Про нас</h2>
      <p class="about-us__subtitle">
        Магазин меблів для дому Krovato є дистриб'ютором високоякісних меблів.
      </p>
      <p class="about-us__text">
        Ми працюємо тільки з провідними виробниками ліжок та матраців, такими як ЕММ, Estella, Метакам, Legko, HighFoam, ArborDrev.
      </p>
    </div>
  </div>
</section>
