<section class="showroom">
    <div class="container">
        <h3 class="showroom__title">Запрошуємо Вас відвідати наш Шоу-рум</h3>
        <p class="showroom__text">Наші фахівці допоможуть Вам підібрати матеріали і комплектуючі з урахуванням Ваших побажань.</p>
        <p class="showroom__subtext">У нас є виставка, на якій Ви можете побачити найпопулярніші моделі ліжок та тумбочок, а також полежати на різних моделях матраців та підібрати собі оптимальний матрац для комфортного сну.
            Адреса виставки, а також карту проїзду можна побачити в розділі "Контакти".</p>
        <button class="showroom__button">
            <span class="showroom__button-text">Відкрити контакти</span>
            <svg class="showroom__icon">
                <use href="../../images/symbol-defs.svg#"></use>
            </svg>
        </button>
    </div>
</section>