<section class="beds">
  <div class="container">
    <nav class="beds__navigation">
      <a class="beds__main-link" href="#">Головна</a>
      <svg class="beds__icon">
        <use href="../../images/symbol-defs.svg#icon-arrow"></use>
      </svg>
      <a class="beds__beds-link" href="">Ліжка</a>
    </nav>

    <div>
      <h3 class="beds__title">Ліжка</h3>
      <p class="beds__count">1 147 товарів</p>
    </div>

    <ul class="beds__list">
      <li class="beds__item">
        <div class="line"></div>
        <h4 class="beds__name">Односпальні ліжка</h4>
      </li>
      <li class="beds__item">
        <div class="line"></div>
        <h4 class="beds__name">Двоспальні ліжка</h4>
      </li>
      <li class="beds__item">
        <div class="line"></div>
        <h4 class="beds__name">Диван-ліжко</h4>
      </li>
      <li class="beds__item">
        <div class="line"></div>
        <h4 class="beds__name">Дерев'яні ліжка</h4>
      </li>
      <li class="beds__item">
        <div class="line"></div>
        <h4 class="beds__name">Металеві ліжка</h4>
      </li>
      <li class="beds__item">
        <div class="line"></div>
        <h4 class="beds__name">М'які ліжка</h4>
      </li>
      <li class="beds__item">
        <div class="line"></div>
        <h4 class="beds__name">Ліжка подіуми</h4>
      </li>
      <li class="beds__item">
        <div class="line"></div>
        <h4 class="beds__name">Дитячі ліжка</h4>
      </li>
      <li class="beds__item">
        <div class="line"></div>
        <h4 class="beds__name">Ліжка з підйомним механізмом</h4>
      </li>
      <li class="beds__item">
        <div class="line"></div>
        <h4 class="beds__name">Акційні ліжка</h4>
      </li>
    </ul>
    <div class="hide-container">
        <a class="beds__hide" href="#">Приховати підкатегорії</a>
    </div>

  </div>
</section>
