<section class="filter">
  <div class="container">
    <ul class="filter__container">
      <ul class="filter__search">
        <ul class="filter__list">
            <li class="filter__item">
                <p class="filter__text">Ціна, грн</p>
            </li>
            <li class="filter__item">

            </li>
        </ul>
        <ul class="filter__list">
            <li class="filter__item">
                <p class="filter__text">Наявність</p>
            </li>
            <li class="filter__item">
                <input type="checkbox" id="avalible" name="Avalible" />
                <label for="Avalible">В наявності</label>
                <input type="checkbox" id="stock" name="Stock" />
                <label for="Stock">Під замовлення</label>
            </li>
        </ul>
        <ul class="filter__list">
            <li class="filter__item">
                <p class="filter__text">Виробник</p>
            </li>
            <li class="filter__item">
                <input type="checkbox" id="manufacturer" name="manufacturer" />
                <label for="Avalible">Corners</label>
                <input type="checkbox" id="manufacturer" name="manufacturer" />
                <label for="Avalible">Estella</label>
                <input type="checkbox" id="manufacturer" name="manufacturer" />
                <label for="Avalible">Green Line</label>
                <input type="checkbox" id="manufacturer" name="manufacturer" />
                <label for="Avalible">Legko</label>
                <input type="checkbox" id="manufacturer" name="manufacturer" />
                <label for="Avalible">MiroMark</label>
                <input type="checkbox" id="manufacturer" name="manufacturer" />
                <label for="Avalible">Novelty</label>
                <input type="checkbox" id="manufacturer" name="manufacturer" />
                <label for="Avalible">Soft-line</label>
                <input type="checkbox" id="manufacturer" name="manufacturer" />
                <label for="Avalible">Venger</label>
                <input type="checkbox" id="manufacturer" name="manufacturer" />
                <label for="Avalible">Арбор Древ</label>
                <input type="checkbox" id="manufacturer" name="manufacturer" />
                <label for="Avalible">Городок мебель</label>
                <a href="#">Показати всі</a>
            </li>
        </ul>
        <ul class="filter__list">
            <li class="filter__item">
                <p class="filter__text">Тип ліжка</p>
            </li>
            <li class="filter__item">
                <input type="checkbox" id="bedType" name="bedType" />
                <label for="Avalible">Без узголов'я</label>
                <input type="checkbox" id="bedType" name="bedType" />
                <label for="Avalible">З узголів'ям  </label>
                <input type="checkbox" id="bedType" name="bedType" />
                <label for="Avalible">Двоярусні </label>
                <input type="checkbox" id="bedType" name="bedType" />
                <label for="Avalible">Розкладачки</label>
                <input type="checkbox" id="bedType" name="bedType" />
                <label for="Avalible">Шафи</label>
            </li>
        </ul>
        <ul class="filter__list">
            <li class="filter__item">
                <p class="filter__text">Розмір спального місця</p>
            </li>
            <li class="filter__item">
                <input type="checkbox" id="bedType" name="bedType" />
                <label for="Avalible">200x210 см</label>
                <input type="checkbox" id="bedType" name="bedType" />
                <label for="Avalible">200x200 см</label>
                <input type="checkbox" id="bedType" name="bedType" />
                <label for="Avalible">180x200 см</label>
                <input type="checkbox" id="bedType" name="bedType" />
                <label for="Avalible">160x200 см</label>
                <input type="checkbox" id="bedType" name="bedType" />
                <label for="Avalible">110x190 см</label>
                <input type="checkbox" id="bedType" name="bedType" />
                <label for="Avalible">160x190 см</label>
                <input type="checkbox" id="bedType" name="bedType" />
                <label for="Avalible">150x200 см</label>
                <input type="checkbox" id="bedType" name="bedType" />
                <label for="Avalible">140x200 см</label>
                <input type="checkbox" id="bedType" name="bedType" />
                <label for="Avalible">140x190 см</label>
                <input type="checkbox" id="bedType" name="bedType" />
                <label for="Avalible">120x200 см</label>
                <a class="filter_show-all" href="#">Показати всі</a>
            </li>

            <li class="filter__item">
                <p class="filter__text">Ширина спального місця</p>
            </li>
            <li class="filter__item">
                <p class="filter__text">Довжина спального місця</p>
            </li>
            <li class="filter__item">
                <p class="filter__text">Форма</p>
            </li>
            <li class="filter__item">
                <p class="filter__text">Матеріал корпусу</p>
            </li>
            <li class="filter__item">
                <p class="filter__text">Основа для матраца</p>
            </li>
        </ul>
      </ul>
      <ul class="filter__list">
        <li class="filter__item">
          <h4 class="filter__choose">Ви вибрали:</h4>
          <h3 class="filter__sort">Сортування:</h3>
          <p class="filter__price">За зростанням ціни</p>
        </li>
        <li class="filter__item">
            <div class="filter__choosen">
                <p class="filter__text">Очистити</p>
            </div>
            <div class="filter__choosen">
                <p class="filter__text">Ціна: 1195-9566</p>
            </div>
            <div class="filter__choosen">
                <p class="filter__text">В наявності</p>
            </div>
            <div class="filter__choosen">
                <p class="filter__text">Виробник: Corners</p>
            </div>
            <div class="filter__choosen">
                <p class="filter__text">Без узголов'я</p>
            </div>
            <div class="filter__choosen">
                <p class="filter__text">200x210 см</p>
            </div>
        </li>

        <ul class="filter__catalog">
            <li class="filter__item">
                <picture>
                  <source
                    srcset="
                      ../../images/main-page/bed-sparta@1x.webp 1x,
                      ../../images/main-page/bed-sparta@2x.webp 2x
                    "
                    media="(min-width: 1200px)"
                  />
                  <source
                    srcset="
                      ../../images/main-page/phone/bed-sparta@1x.webp 1x,
                      ../../images/main-page/phone/bed-sparta@2x.webp 2x
                    "
                  />
                  <img
                    class="slider__img"
                    src="../../images/main-page/bed-sparta@1x.webp"
                    alt="Slider"
                  />
                </picture>
                <p class="filter__size">Розмір: 61 x 184 x 2130 мм</p>
                <h4 class="filter__name">
                  Ліжко Спарта / Sparta з підйомним механізмом
                </h4>
                <p class="filter__paragraph">
                  <svg class="filter_svg-buy">
                    <use href="../../images/symbol-defs.svg#icon-check"></use></svg>В наявності
                </p>
                <p class="filter__discount">25 400 грн.</p>
                <p class="filter__price">15 400 грн.</p>
                <svg class="obrane__svg">
                  <use href="../../images/symbol-defs.svg#icon-obrane-heard"></use>
                </svg>
                <svg class="korzina__svg">
                  <use href="../../images/symbol-defs.svg#icon-korzina"></use>
                </svg>
              </li>
              <li class="filter__item">
                <picture>
                  <source
                    srcset="
                      ../../images/main-page/bed-argon@1x.webp 1x,
                      ../../images/main-page/bed-argon@2x.webp 2x
                    "
                    media="(min-width: 1200px)"
                  />
                  <source
                    srcset="
                      ../../images/main-page/phone/bed-argon@1x.webp 1x,
                      ../../images/main-page/phone/bed-argon@2x.webp 2x
                    "
                  />
                  <img
                    class="slider__img"
                    src="../../images/main-page/bed-argon@1x.webp"
                    alt="Slider"
                  />
                </picture>
                <p class="filter__paragraph">Розмір: 61 x 184 x 2130 мм</p>
                <h4 class="filter__name">Ліжко Аргон з підйомним механізмом</h4>
                <p class="filter__paragraph">
                  <svg class="filter_svg-buy">
                    <use href="../../images/symbol-defs.svg#icon-check"></use></svg>В наявності
                </p>
                <p class="filter__price">16 400 грн.</p>
                <svg class="obrane__svg">
                  <use href="../../images/symbol-defs.svg#icon-obrane-heard"></use>
                </svg>
                <svg class="korzina__svg">
                  <use href="../../images/symbol-defs.svg#icon-korzina"></use>
                </svg>
              </li>
              <li class="filter__item">
                <picture>
                  <source
                    srcset="
                      ../../images/main-page/bed-prestige@1x.webp 1x,
                      ../../images/main-page/bed-prestige@2x.webp 2x
                    "
                    media="(min-width: 1200px)"
                  />
                  <source
                    srcset="
                      ../../images/main-page/phone/bed-prestige@1x.webp 1x,
                      ../../images/main-page/phone/bed-prestige@2x.webp 2x
                    "
                  />
                  <img
                    class="slider__img"
                    src="../../images/main-page/bed-prestige@1x.webp"
                    alt="Slider"
                  />
                </picture>
                <p class="filter__paragraph">Розмір: 61 x 184 x 2130 мм</p>
                <h4 class="filter__name">Ліжко Престиж з підйомним механізмом</h4>
                <p class="filter__paragraph">
                  <svg class="filter_svg-buy">
                    <use href="../../images/symbol-defs.svg#icon-check"></use></svg>В наявності
                </p>
                <p class="filter__price">14 969 грн.</p>
                <svg class="obrane__svg">
                  <use href="../../images/symbol-defs.svg#icon-obrane-heard"></use>
                </svg>
                <svg class="korzina__svg">
                  <use href="../../images/symbol-defs.svg#icon-korzina"></use>
                </svg>
              </li>
              <li class="filter__item">
                <picture>
                  <source
                    srcset="
                      ../../images/main-page/sofa-tokio@1x.webp 1x,
                      ../../images/main-page/sofa-tokio@2x.webp 2x
                    "
                    media="(min-width: 1200px)"
                  />
                  <source
                    srcset="
                      ../../images/main-page/phone/sofa-tokio@1x.webp 1x,
                      ../../images/main-page/phone/sofa-tokio@2x.webp 2x
                    "
                  />
                  <img
                    class="slider__img"
                    src="../../images/main-page/sofa-tokio@1x.webp"
                    alt="Slider"
                  />
                </picture>
                <p class="filter__paragraph">Розмір: 61 x 184 x 2130 мм</p>
                <h4 class="filter__name">Диван Токіо-2</h4>
                <p class="filter__paragraph">
                  <svg class="filter_svg-buy">
                    <use href="../../images/symbol-defs.svg#icon-check"></use></svg>В наявності
                </p>
                <p class="filter__price">13 211 грн.</p>
                <svg class="obrane__svg">
                  <use href="../../images/symbol-defs.svg#icon-obrane-heard"></use>
                </svg>
                <svg class="korzina__svg">
                  <use href="../../images/symbol-defs.svg#icon-korzina"></use>
                </svg>
              </li>
              <li class="filter__item">
                <picture>
                  <source
                    srcset="
                      ../../images/main-page/matrace-largo@1x.webp 1x,
                      ../../images/main-page/matrace-largo@2x.webp 2x
                    "
                    media="(min-width: 1200px)"
                  />
                  <source
                    srcset="
                      ../../images/main-page/phone/matrace-largo@1x.webp 1x,
                      ../../images/main-page/phone/matrace-largo@2x.webp 2x
                    "
                  />
                  <img
                    class="slider__img"
                    src="../../images/main-page/matrace-largo@1x.webp"
                    alt="Slider"
                  />
                </picture>
                <p class="filter__paragraph">Розмір: 61 x 184 x 2130 мм</p>
                <h4 class="filter__name">Матрац Largo SLIM / Ларго Слім</h4>
                <p class="filter__paragraph">
                  <svg class="filter_svg-buy">
                    <use href="../../images/symbol-defs.svg#icon-check"></use></svg>В наявності
                </p>
                <p class="filter__discount">3 122 грн.</p>
                <p class="filter__price">2 810 грн.</p>
                <svg class="obrane__svg">
                  <use href="../../images/symbol-defs.svg#icon-obrane-heard"></use>
                </svg>
                <svg class="korzina__svg">
                  <use href="../../images/symbol-defs.svg#icon-korzina"></use>
                </svg>
              </li>
              <li class="filter__item">
                <picture>
                  <source
                    srcset="
                      ../../images/main-page/matrace-argentum@1x.webp 1x,
                      ../../images/main-page/matrace-argentum@2x.webp 2x
                    "
                    media="(min-width: 1200px)"
                  />
                  <source
                    srcset="
                      ../../images/main-page/phone/matrace-argentum@1x.webp 1x,
                      ../../images/main-page/phone/matrace-argentum@2x.webp 2x
                    "
                  />
                  <img
                    class="slider__img"
                    src="../../images/main-page/matrace-argentum@1x.webp"
                    alt="Slider"
                  />
                </picture>
                <p class="filter__paragraph">Розмір: 61 x 184 x 2130 мм</p>
                <h4 class="filter__name">
                  Матрац ARGENTUM AMALTEA / Аргентум Амалті
                </h4>
                <p class="filter__paragraph">
                  <svg class="filter_svg-buy">
                    <use href="../../images/symbol-defs.svg#icon-check"></use></svg>В наявності
                </p>
                <p class="filter__discount">5 966 грн.</p>
                <p class="filter__price">5 071 грн.</p>
                <svg class="obrane__svg">
                  <use href="../../images/symbol-defs.svg#icon-obrane-heard"></use>
                </svg>
                <svg class="korzina__svg">
                  <use href="../../images/symbol-defs.svg#icon-korzina"></use>
                </svg>
              </li>
              <li class="filter__item">
                <picture>
                  <source
                    srcset="
                      ../../images/main-page/sofa-bravo@1x.webp 1x,
                      ../../images/main-page/sofa-bravo@2x.webp 2x
                    "
                    media="(min-width: 1200px)"
                  />
                  <source
                    srcset="
                      ../../images/main-page/phone/sofa-bravo@1x.webp 1x,
                      ../../images/main-page/phone/sofa-bravo@2x.webp 2x
                    "
                  />
                  <img
                    class="slider__img"
                    src="../../images/main-page/sofa-bravo@1x.webp"
                    alt="Slider"
                  />
                </picture>
                <p class="filter__paragraph">Розмір: 61 x 184 x 2130 мм</p>
                <h4 class="filter__name">Диван Браво</h4>
                <p class="filter__paragraph">
                  <svg class="filter_svg-buy">
                    <use href="../../images/symbol-defs.svg#icon-check"></use></svg>В наявності
                </p>
                <p class="filter__price">10 008 грн.</p>
                <svg class="obrane__svg">
                  <use href="../../images/symbol-defs.svg#icon-obrane-heard"></use>
                </svg>
                <svg class="korzina__svg">
                  <use href="../../images/symbol-defs.svg#icon-korzina"></use>
                </svg>
              </li>
              <li class="filter__item">
                <picture>
                  <source
                    srcset="
                      ../../images/main-page/bed-mk5@1x.webp 1x,
                      ../../images/main-page/bed-mk5@2x.webp 2x
                    "
                    media="(min-width: 1200px)"
                  />
                  <source
                    srcset="
                      ../../images/main-page/phone/bed-mk5@1x.webp 1x,
                      ../../images/main-page/phone/bed-mk5@2x.webp 2x
                    "
                  />
                  <img
                    class="slider__img"
                    src="../../images/main-page/bed-mk5@1x.webp"
                    alt="Slider"
                  />
                </picture>
                <p class="filter__paragraph">Розмір: 61 x 184 x 2130 мм</p>
                <h4 class="filter__name">Ліжко МК-5</h4>
                <p class="filter__paragraph">
                  <svg class="filter_svg-buy">
                    <use href="../../images/symbol-defs.svg#icon-check"></use></svg>В наявності
                </p>
                <p class="filter__price">8 775 грн.</p>
                <svg class="obrane__svg">
                  <use href="../../images/symbol-defs.svg#icon-obrane-heard"></use>
                </svg>
                <svg class="korzina__svg">
                  <use href="../../images/symbol-defs.svg#icon-korzina"></use>
                </svg>
              </li>
              <li class="filter__item">
                <picture>
                  <source
                    srcset="
                      ../../images/main-page/bed-mk5@1x.webp 1x,
                      ../../images/main-page/bed-mk5@2x.webp 2x
                    "
                    media="(min-width: 1200px)"
                  />
                  <source
                    srcset="
                      ../../images/main-page/phone/bed-mk5@1x.webp 1x,
                      ../../images/main-page/phone/bed-mk5@2x.webp 2x
                    "
                  />
                  <img
                    class="slider__img"
                    src="../../images/main-page/bed-mk5@1x.webp"
                    alt="Slider"
                  />
                </picture>
                <p class="filter__paragraph">Розмір: 61 x 184 x 2130 мм</p>
                <h4 class="filter__name">Ліжко МК-5</h4>
                <p class="filter__paragraph">
                  <svg class="filter_svg-buy">
                    <use href="../../images/symbol-defs.svg#icon-check"></use></svg>В наявності
                </p>
                <p class="filter__price">8 775 грн.</p>
                <svg class="obrane__svg">
                  <use href="../../images/symbol-defs.svg#icon-obrane-heard"></use>
                </svg>
                <svg class="korzina__svg">
                  <use href="../../images/symbol-defs.svg#icon-korzina"></use>
                </svg>
              </li>
              <li class="filter__item">
                <picture>
                  <source
                    srcset="
                      ../../images/main-page/bed-mk5@1x.webp 1x,
                      ../../images/main-page/bed-mk5@2x.webp 2x
                    "
                    media="(min-width: 1200px)"
                  />
                  <source
                    srcset="
                      ../../images/main-page/phone/bed-mk5@1x.webp 1x,
                      ../../images/main-page/phone/bed-mk5@2x.webp 2x
                    "
                  />
                  <img
                    class="slider__img"
                    src="../../images/main-page/bed-mk5@1x.webp"
                    alt="Slider"
                  />
                </picture>
                <p class="filter__paragraph">Розмір: 61 x 184 x 2130 мм</p>
                <h4 class="filter__name">Ліжко МК-5</h4>
                <p class="filter__paragraph">
                  <svg class="filter_svg-buy">
                    <use href="../../images/symbol-defs.svg#icon-check"></use></svg>В наявності
                </p>
                <p class="filter__price">8 775 грн.</p>
                <svg class="obrane__svg">
                  <use href="../../images/symbol-defs.svg#icon-obrane-heard"></use>
                </svg>
                <svg class="korzina__svg">
                  <use href="../../images/symbol-defs.svg#icon-korzina"></use>
                </svg>
              </li>
              <li class="filter__item">
                <picture>
                  <source
                    srcset="
                      ../../images/main-page/bed-mk5@1x.webp 1x,
                      ../../images/main-page/bed-mk5@2x.webp 2x
                    "
                    media="(min-width: 1200px)"
                  />
                  <source
                    srcset="
                      ../../images/main-page/phone/bed-mk5@1x.webp 1x,
                      ../../images/main-page/phone/bed-mk5@2x.webp 2x
                    "
                  />
                  <img
                    class="slider__img"
                    src="../../images/main-page/bed-mk5@1x.webp"
                    alt="Slider"
                  />
                </picture>
                <p class="filter__paragraph">Розмір: 61 x 184 x 2130 мм</p>
                <h4 class="filter__name">Ліжко МК-5</h4>
                <p class="filter__paragraph">
                  <svg class="filter_svg-buy">
                    <use href="../../images/symbol-defs.svg#icon-check"></use></svg>В наявності
                </p>
                <p class="filter__price">8 775 грн.</p>
                <svg class="obrane__svg">
                  <use href="../../images/symbol-defs.svg#icon-obrane-heard"></use>
                </svg>
                <svg class="korzina__svg">
                  <use href="../../images/symbol-defs.svg#icon-korzina"></use>
                </svg>
              </li>
              <li class="filter__item">
                <picture>
                  <source
                    srcset="
                      ../../images/main-page/bed-mk5@1x.webp 1x,
                      ../../images/main-page/bed-mk5@2x.webp 2x
                    "
                    media="(min-width: 1200px)"
                  />
                  <source
                    srcset="
                      ../../images/main-page/phone/bed-mk5@1x.webp 1x,
                      ../../images/main-page/phone/bed-mk5@2x.webp 2x
                    "
                  />
                  <img
                    class="slider__img"
                    src="../../images/main-page/bed-mk5@1x.webp"
                    alt="Slider"
                  />
                </picture>
                <p class="filter__paragraph">Розмір: 61 x 184 x 2130 мм</p>
                <h4 class="filter__name">Ліжко МК-5</h4>
                <p class="filter__paragraph">
                  <svg class="filter_svg-buy">
                    <use href="../../images/symbol-defs.svg#icon-check"></use></svg>В наявності
                </p>
                <p class="filter__price">8 775 грн.</p>
                <svg class="obrane__svg">
                  <use href="../../images/symbol-defs.svg#icon-obrane-heard"></use>
                </svg>
                <svg class="korzina__svg">
                  <use href="../../images/symbol-defs.svg#icon-korzina"></use>
                </svg>
              </li>
        </ul>
        <button class="filter__button">
            <svg class="right-svg">
            <use href="../../images/symbol-defs.svg#icon-repeat"></use>
        </svg>Показати ще товари</button>

        <ul class="filter__navigate">
            <li class="filter__item">
                <svg class="right-svg">
                    <use href="../../images/symbol-defs.svg#icon-arrow-to-left"></use>
                </svg>
            </li>
            <li class="filter__item">
                <p>1</p>
            </li>
            <li class="filter__item">
                <p>2</p>
            </li>
            <li class="filter__item">
                <p>3</p>
            </li>
            <li class="filter__item">
                <p>4</p>
            </li>
            <li class="filter__item">
                <p>5</p>
            </li>
            <li class="filter__item">
                <p>6</p>
            </li>
            <li class="filter__item">
                <p>7</p>
            </li>
            <li class="filter__item">
                <p>...</p>
            </li>
            <li class="filter__item">
                <p>18</p>
            </li>
            <li class="filter__item">
                <svg class="right-svg">
                    <use href="../../images/symbol-defs.svg#icon-arrow-to-right"></use>
                </svg>
            </li>
        </ul>
      </ul>
    </ul>
  </div>
</section>
