.blog {

    &__title {
        color: var(--Theme-Dark, #2B2929);
        font-family: "Proxima Nova";
        font-size: 40px;
        font-weight: 600;
        line-height: 48px;
    }

    &__img {
        width: 410px;
        height: 270px;
        flex-shrink: 0;
    }
}