<section class="reviews">
  <div class="container">
    <nav class="pay__navigation">
      <a class="pay__main-link" href="#">Головна</a>
      <svg class="pay__icon">
        <use href="../../images/symbol-defs.svg#icon-arrow"></use>
      </svg>
      <a class="pay__pay-link" href="">Відгуки</a>
    </nav>

    <div class="reviews__reviews-form-box">
      <div class="reviews__section">
        <h2 class="reviews__title">Відгуки</h2>
        <ul class="reviews__list">
          <li class="reviews__item">
            <a href="" class="reviews__link reviews__first-link">Всі відгуки</a>
          </li>
          <li class="reviews__item">
            <a href="" class="reviews__link">Про товари</a>
          </li>
          <li class="reviews__item">
            <a href="" class="reviews__link">Про Магазин</a>
          </li>
        </ul>

        <ul class="reviews__reviews-list">
          <li class="reviews__reviews-item">
            <div class="reviews__reviews-box-top">
              <div class="reviews__reviews-icon-box">
                <svg class="reviews__reviews-icon-people">
                  <use href="../../images/symbol-defs.svg#icon-avatar"></use>
                </svg>
              </div>
              <p class="reviews__reviews-name">Іван Стедниця</p>
              <ul class="reviews__reviews-star-list">
                <li class="reviews__reviews-star-item">
                  <svg class="reviews__reviews-star-icon">
                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="reviews__reviews-star-item">
                  <svg class="reviews__reviews-star-icon">
                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="reviews__reviews-star-item">
                  <svg class="reviews__reviews-star-icon">
                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="reviews__reviews-star-item">
                  <svg class="reviews__reviews-star-icon">
                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="reviews__reviews-star-item">
                  <svg class="reviews__reviews-star-icon">
                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </li>
              </ul>
              <p class="reviews__reviews-date">25.01.2022</p>
            </div>
            <p class="reviews__reviews-text">
              Хочу отметить слаженную и четкую работу всех сотрудников , с кем
              пришлось контактировать при выборе и покупке дивана Orange-Line
              Родео SF17-LX6-PLNGR. Огромную помощь при выборе оказала
              специалист по продажам Ульяна Лукащук, которая провела со мной не
              один час( выбор был непростым, т.к диван необходимо было
              приобрести для пожилого лежачего больного). А так же хочу
              поблагодарить за понимание и человеческий подход сотрудника отдела
              логистики Елькина Игоря, который смог найти возможность для
              первоочередной доставки по городу, в самые кратчайшие сроки. А
              также огромное спасибо специалистам доставки в конечную точку
              Николаю и Вячеславу за их нелегкий труд в сложных условиях.
            </p>
            <div class="reviews__reviews-box">
              <div class="reviews__reviews-icon-text-box">
                <svg class="reviews__reviews-icon">
                  <use href="../../images/symbol-defs.svg#icon-logo-sofa"></use>
                </svg>
              </div>

              <a href="" class="reviews__reviews-subtext">KROVATO</a>
            </div>
          </li>
          <li class="reviews__reviews-item">
            <div class="reviews__reviews-box-top">
              <div class="reviews__reviews-icon-box">
                <svg class="reviews__reviews-icon-people">
                  <use href="../../images/symbol-defs.svg#icon-avatar"></use>
                </svg>
              </div>
              <p class="reviews__reviews-name">Ольга</p>
              <ul class="reviews__reviews-star-list">
                <li class="reviews__reviews-star-item">
                  <svg class="reviews__reviews-star-icon">
                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="reviews__reviews-star-item">
                  <svg class="reviews__reviews-star-icon">
                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="reviews__reviews-star-item">
                  <svg class="reviews__reviews-star-icon">
                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="reviews__reviews-star-item">
                  <svg class="reviews__reviews-star-icon">
                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="reviews__reviews-star-item">
                  <svg class="reviews__reviews-star-icon">
                    <use
                      href="../../images/symbol-defs.svg#icon-half-star"
                    ></use>
                  </svg>
                </li>
              </ul>
              <p class="reviews__reviews-date">25.01.2022</p>
            </div>
            <p class="reviews__reviews-text">
              Покупали сыну игровое кресло в подарок. Качество супер, очень
              удобное и отлично поддерживает спину. В общем подарком более чем
              доволен) Отдельное спасибо магазину Мебельок за помощь в выборе
              кресла!
            </p>
            <div class="reviews__reviews-box">
              <picture>
                <source
                  srcset="
                    ../../images/reviews-page/aerocool@1x.webp 1x,
                    ../../images/reviews-page/aerocool@2x.webp 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    ../../images/reviews-page/phone/sofa@1x.webp 1x,
                    ../../images/reviews-page/phone/sofa@2x.webp 2x
                  "
                  media="(min-eidth: 320px)"
                />
                <img
                  src="../../images/reviews-page/aerocool@1x.webp"
                  alt=""
                  class="reviews__reviews-img"
                />
              </picture>
              <a href="" class="reviews__reviews-subtext">
                Крісло для геймерів AEROCOOL EARL Steel Blue
              </a>
            </div>
          </li>
          <li class="reviews__reviews-item">
            <div class="reviews__reviews-box-top">
              <div class="reviews__reviews-icon-box">
                <svg class="reviews__reviews-icon-people">
                  <use href="../../images/symbol-defs.svg#icon-avatar"></use>
                </svg>
              </div>
              <p class="reviews__reviews-name">Нина</p>
              <ul class="reviews__reviews-star-list">
                <li class="reviews__reviews-star-item">
                  <svg class="reviews__reviews-star-icon">
                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="reviews__reviews-star-item">
                  <svg class="reviews__reviews-star-icon">
                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="reviews__reviews-star-item">
                  <svg class="reviews__reviews-star-icon">
                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="reviews__reviews-star-item">
                  <svg class="reviews__reviews-star-icon">
                    <use
                      href="../../images/symbol-defs.svg#icon-half-star"
                    ></use>
                  </svg>
                </li>
                <li class="reviews__reviews-star-item">
                  <svg class="reviews__reviews-star-icon">
                    <use
                      href="../../images/symbol-defs.svg#icon-empty-star"
                    ></use>
                  </svg>
                </li>
              </ul>
              <p class="reviews__reviews-date">25.01.2022</p>
            </div>
            <p class="reviews__reviews-text">
              Для меня это супер-функциональный предмет мебели в моей спальне.
              Ящиков не много и не мало, все помещается. А удобная полочка сбоку
              дает возможность отставить туда часть вещей, дабы не загораживать
              зеркало. К качеству тоже претензий не имею, на вид добротно.
              Обслуживание - тоже на высоте.
            </p>
            <div class="reviews__reviews-box">
              <picture>
                <source
                  srcset="
                    ../../images/reviews-page/trumo@1x.webp 1x,
                    ../../images/reviews-page/trumo@2x.webp 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    ../../images/reviews-page/phone/sofa@1x.webp 1x,
                    ../../images/reviews-page/phone/sofa@2x.webp 2x
                  "
                  media="(min-eidth: 320px)"
                />
                <img
                  src="../../images/reviews-page/trumo@1x.webp"
                  alt=""
                  class="reviews__reviews-img"
                />
              </picture>
              <a href="" class="reviews__reviews-subtext">Трюмо-7</a>
            </div>
          </li>
          <li class="reviews__reviews-item">
            <div class="reviews__reviews-box-top">
              <div class="reviews__reviews-icon-box">
                <svg class="reviews__reviews-icon-people">
                  <use href="../../images/symbol-defs.svg#icon-avatar"></use>
                </svg>
              </div>
              <p class="reviews__reviews-name">Максим</p>
              <ul class="reviews__reviews-star-list">
                <li class="reviews__reviews-star-item">
                  <svg class="reviews__reviews-star-icon">
                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="reviews__reviews-star-item">
                  <svg class="reviews__reviews-star-icon">
                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="reviews__reviews-star-item">
                  <svg class="reviews__reviews-star-icon">
                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="reviews__reviews-star-item">
                  <svg class="reviews__reviews-star-icon">
                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="reviews__reviews-star-item">
                  <svg class="reviews__reviews-star-icon">
                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </li>
              </ul>
              <p class="reviews__reviews-date">25.01.2022</p>
            </div>
            <p class="reviews__reviews-text">
              Стулья симпатичные и стильные, на кухне смотрятся отлично! Очень
              удобно на них сидеть и качество так же радует. Доставили быстро.
              Рекомендую!
            </p>
            <div class="reviews__reviews-box">
              <picture>
                <source
                  srcset="
                    ../../images/reviews-page/chair@1x.webp 1x,
                    ../../images/reviews-page/chair@2x.webp 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    ../../images/reviews-page/phone/sofa@1x.webp 1x,
                    ../../images/reviews-page/phone/sofa@2x.webp 2x
                  "
                  media="(min-eidth: 320px)"
                />
                <img
                  src="../../images/reviews-page/chair@1x.webp"
                  alt=""
                  class="reviews__reviews-img"
                />
              </picture>
              <a href="" class="reviews__reviews-subtext">
                Стілець обідній Kansas чорний/velvet grey
              </a>
            </div>
          </li>
          <li class="reviews__reviews-item">
            <div class="reviews__reviews-box-top">
              <div class="reviews__reviews-icon-box">
                <svg class="reviews__reviews-icon-people">
                  <use href="../../images/symbol-defs.svg#icon-avatar"></use>
                </svg>
              </div>
              <p class="reviews__reviews-name">Галина</p>
              <ul class="reviews__reviews-star-list">
                <li class="reviews__reviews-star-item">
                  <svg class="reviews__reviews-star-icon">
                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="reviews__reviews-star-item">
                  <svg class="reviews__reviews-star-icon">
                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="reviews__reviews-star-item">
                  <svg class="reviews__reviews-star-icon">
                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="reviews__reviews-star-item">
                  <svg class="reviews__reviews-star-icon">
                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="reviews__reviews-star-item">
                  <svg class="reviews__reviews-star-icon">
                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </li>
              </ul>
              <p class="reviews__reviews-date">25.01.2022</p>
            </div>
            <p class="reviews__reviews-text">
              Кухни подобрали нам по размеру, понравилось качество мебели, кухня
              собрана очень хорошо. Сборщики собрали все за день. Понравилось
              как отрегулировали фасады , все в уровень , везде одинаковый
              зазор.
            </p>
            <div class="reviews__reviews-box">
              <picture>
                <source
                  srcset="
                    ../../images/reviews-page/kitchen@1x.webp 1x,
                    ../../images/reviews-page/kitchen@2x.webp 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    ../../images/reviews-page/phone/sofa@1x.webp 1x,
                    ../../images/reviews-page/phone/sofa@2x.webp 2x
                  "
                  media="(min-eidth: 320px)"
                />
                <img
                  src="../../images/reviews-page/kitchen@1x.webp"
                  alt=""
                  class="reviews__reviews-img"
                />
              </picture>
              <a href="" class="reviews__reviews-subtext">Кухня Аліна 3,2</a>
            </div>
          </li>
          <li class="reviews__reviews-item">
            <div class="reviews__reviews-box-top">
              <div class="reviews__reviews-icon-box">
                <svg class="reviews__reviews-icon-people">
                  <use href="../../images/symbol-defs.svg#icon-avatar"></use>
                </svg>
              </div>
              <p class="reviews__reviews-name">Ольга</p>
              <ul class="reviews__reviews-star-list">
                <li class="reviews__reviews-star-item">
                  <svg class="reviews__reviews-star-icon">
                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="reviews__reviews-star-item">
                  <svg class="reviews__reviews-star-icon">
                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="reviews__reviews-star-item">
                  <svg class="reviews__reviews-star-icon">
                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="reviews__reviews-star-item">
                  <svg class="reviews__reviews-star-icon">
                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="reviews__reviews-star-item">
                  <svg class="reviews__reviews-star-icon">
                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </li>
              </ul>
              <p class="reviews__reviews-date">25.01.2022</p>
            </div>
            <p class="reviews__reviews-text">
              Покупали сыну игровое кресло в подарок. Качество супер, очень
              удобное и отлично поддерживает спину. В общем подарком более чем
              доволен) Отдельное спасибо магазину Мебельок за помощь в выборе
              кресла!
            </p>
            <div class="reviews__reviews-box">
              <picture>
                <source
                  srcset="
                    ../../images/reviews-page/aerocool@1x.webp 1x,
                    ../../images/reviews-page/aerocool@2x.webp 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    ../../images/reviews-page/phone/sofa@1x.webp 1x,
                    ../../images/reviews-page/phone/sofa@2x.webp 2x
                  "
                  media="(min-eidth: 320px)"
                />
                <img
                  src="../../images/reviews-page/aerocool@1x.webp"
                  alt=""
                  class="reviews__reviews-img"
                />
              </picture>
              <a href="" class="reviews__reviews-subtext">
                Крісло для геймерів AEROCOOL EARL Steel Blue
              </a>
            </div>
          </li>
          <li class="reviews__reviews-item">
            <div class="reviews__reviews-box-top">
              <div class="reviews__reviews-icon-box">
                <svg class="reviews__reviews-icon-people">
                  <use href="../../images/symbol-defs.svg#icon-avatar"></use>
                </svg>
              </div>
              <p class="reviews__reviews-name">Надія</p>
              <ul class="reviews__reviews-star-list">
                <li class="reviews__reviews-star-item">
                  <svg class="reviews__reviews-star-icon">
                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="reviews__reviews-star-item">
                  <svg class="reviews__reviews-star-icon">
                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="reviews__reviews-star-item">
                  <svg class="reviews__reviews-star-icon">
                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="reviews__reviews-star-item">
                  <svg class="reviews__reviews-star-icon">
                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="reviews__reviews-star-item">
                  <svg class="reviews__reviews-star-icon">
                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </li>
              </ul>
              <p class="reviews__reviews-date">25.01.2022</p>
            </div>
            <p class="reviews__reviews-text">
              Отличная работа менеджера, доставили в указанное время, собрали
              быстро и качественно. Спасибо за работу.
            </p>
            <div class="reviews__reviews-box">
              <picture>
                <source
                  srcset="
                    ../../images/reviews-page/bed@1x.webp 1x,
                    ../../images/reviews-page/bed@2x.webp 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    ../../images/reviews-page/phone/sofa@1x.webp 1x,
                    ../../images/reviews-page/phone/sofa@2x.webp 2x
                  "
                  media="(min-eidth: 320px)"
                />
                <img
                  src="../../images/reviews-page/bed@1x.webp"
                  alt=""
                  class="reviews__reviews-img"
                />
              </picture>
              <a href="" class="reviews__reviews-subtext"
                >Ліжко Саванна гірка</a
              >
            </div>
          </li>
          <li class="reviews__reviews-item">
            <div class="reviews__reviews-box-top">
              <div class="reviews__reviews-icon-box">
                <svg class="reviews__reviews-icon-people">
                  <use href="../../images/symbol-defs.svg#icon-avatar"></use>
                </svg>
              </div>
              <p class="reviews__reviews-name">Екатерина</p>
              <ul class="reviews__reviews-star-list">
                <li class="reviews__reviews-star-item">
                  <svg class="reviews__reviews-star-icon">
                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="reviews__reviews-star-item">
                  <svg class="reviews__reviews-star-icon">
                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="reviews__reviews-star-item">
                  <svg class="reviews__reviews-star-icon">
                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="reviews__reviews-star-item">
                  <svg class="reviews__reviews-star-icon">
                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="reviews__reviews-star-item">
                  <svg class="reviews__reviews-star-icon">
                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </li>
              </ul>
              <p class="reviews__reviews-date">25.01.2022</p>
            </div>
            <p class="reviews__reviews-text">
              Добрый день всем. Работаем в большом родильном отделении
              многопрофильной больницы. Очень долго искали партнеров для
              приобретения мебели, что бы было не только красиво, стильно,
              удобно, комфортно, но и бюджетно. Вот уже второй год сотрудничаем
              с компанией mebelok. Заказывали матрасы, кровати, офисные
              диванчики. Очень благодарны специалистам предприятия за быструю
              обратную связь, квалифицированные консультации, оперативную
              доставку товара и конечно же за качество производимой продукции.
              Очень рады, что в Украине есть такие предприятия, которые
              производят качественный, добротный товар. Ждем следующий заказ
              (кровати для молодых мамочек) и надеемся на дальнейшее
              сотрудничество. Екатерина
            </p>
            <div class="reviews__reviews-box">
              <picture>
                <source
                  srcset="
                    ../../images/reviews-page/matrace@1x.webp 1x,
                    ../../images/reviews-page/matrace@2x.webp 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    ../../images/reviews-page/phone/sofa@1x.webp 1x,
                    ../../images/reviews-page/phone/sofa@2x.webp 2x
                  "
                  media="(min-eidth: 320px)"
                />
                <img
                  src="../../images/reviews-page/matrace@1x.webp"
                  alt=""
                  class="reviews__reviews-img"
                />
              </picture>
              <a href="" class="reviews__reviews-subtext">
                Ортопедический матрас Эко-Lite 90х190
              </a>
            </div>
          </li>
          <li class="reviews__reviews-item">
            <div class="reviews__reviews-box-top">
              <div class="reviews__reviews-icon-box">
                <svg class="reviews__reviews-icon-people">
                  <use href="../../images/symbol-defs.svg#icon-avatar"></use>
                </svg>
              </div>
              <p class="reviews__reviews-name">Назар</p>
              <ul class="reviews__reviews-star-list">
                <li class="reviews__reviews-star-item">
                  <svg class="reviews__reviews-star-icon">
                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="reviews__reviews-star-item">
                  <svg class="reviews__reviews-star-icon">
                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="reviews__reviews-star-item">
                  <svg class="reviews__reviews-star-icon">
                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="reviews__reviews-star-item">
                  <svg class="reviews__reviews-star-icon">
                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="reviews__reviews-star-item">
                  <svg class="reviews__reviews-star-icon">
                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </li>
              </ul>
              <p class="reviews__reviews-date">25.01.2022</p>
            </div>
            <p class="reviews__reviews-text">
              спасибо менеджерам на бажана за то что помогли выбрать даный
              журнальный столик в гостинную! очень стильный, вписался идеально,
              при этом цена очень даже приемлема как для такого товара)
            </p>
            <div class="reviews__reviews-box">
              <picture>
                <source
                  srcset="
                    ../../images/reviews-page/table@1x.webp 1x,
                    ../../images/reviews-page/table@2x.webp 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    ../../images/reviews-page/phone/sofa@1x.webp 1x,
                    ../../images/reviews-page/phone/sofa@2x.webp 2x
                  "
                  media="(min-eidth: 320px)"
                />
                <img
                  src="../../images/reviews-page/table@1x.webp"
                  alt=""
                  class="reviews__reviews-img"
                />
              </picture>
              <a href="" class="reviews__reviews-subtext"
                >Столик журнальний СЖ-101</a
              >
            </div>
          </li>
          <li class="reviews__reviews-item">
            <div class="reviews__reviews-box-top">
              <div class="reviews__reviews-icon-box">
                <svg class="reviews__reviews-icon-people">
                  <use href="../../images/symbol-defs.svg#icon-avatar"></use>
                </svg>
              </div>
              <p class="reviews__reviews-name">Ольга</p>
              <ul class="reviews__reviews-star-list">
                <li class="reviews__reviews-star-item">
                  <svg class="reviews__reviews-star-icon">
                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="reviews__reviews-star-item">
                  <svg class="reviews__reviews-star-icon">
                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="reviews__reviews-star-item">
                  <svg class="reviews__reviews-star-icon">
                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="reviews__reviews-star-item">
                  <svg class="reviews__reviews-star-icon">
                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="reviews__reviews-star-item">
                  <svg class="reviews__reviews-star-icon">
                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </li>
              </ul>
              <p class="reviews__reviews-date">25.01.2022</p>
            </div>
            <p class="reviews__reviews-text">
              Покупали сыну игровое кресло в подарок. Качество супер, очень
              удобное и отлично поддерживает спину. В общем подарком более чем
              доволен) Отдельное спасибо магазину Мебельок за помощь в выборе
              кресла!
            </p>
            <div class="reviews__reviews-box">
              <picture>
                <source
                  srcset="
                    ../../images/reviews-page/aerocool@1x.webp 1x,
                    ../../images/reviews-page/aerocool@2x.webp 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    ../../images/reviews-page/phone/sofa@1x.webp 1x,
                    ../../images/reviews-page/phone/sofa@2x.webp 2x
                  "
                  media="(min-eidth: 320px)"
                />
                <img
                  src="../../images/reviews-page/aerocool@1x.webp"
                  alt=""
                  class="reviews__reviews-img"
                />
              </picture>
              <a href="" class="reviews__reviews-subtext">
                Крісло для геймерів AEROCOOL EARL Steel Blue
              </a>
            </div>
          </li>
        </ul>
        <ul class="reviews__button-list">
          <li class="reviews__button-item">
            <button type="button" class="reviews__button">
              <svg class="reviews__button-icon reviews__first-button-icon">
                <use href="../../images/symbol-defs.svg#icon-arrow"></use>
              </svg>
            </button>
          </li>
          <li class="reviews__button-item">
            <button type="button" class="reviews__button reviews__first-button">1</button>
          </li>
          <li class="reviews__button-item">
            <button type="button" class="reviews__button">2</button>
          </li>
          <li class="reviews__button-item">
            <button type="button" class="reviews__button">3</button>
          </li>
          <li class="reviews__button-item">
            <button type="button" class="reviews__button">4</button>
          </li>
          <li class="reviews__button-item">
            <button type="button" class="reviews__button">5</button>
          </li>
          <li class="reviews__button-item">
            <button type="button" class="reviews__button">6</button>
          </li>
          <li class="reviews__button-item">
            <button type="button" class="reviews__button">7</button>
          </li>
          <li class="reviews__button-item">
            <button type="button" class="reviews__button">...</button>
          </li>
          <li class="reviews__button-item">
            <button type="button" class="reviews__button">18</button>
          </li>
          <li class="reviews__button-item">
            <button type="button" class="reviews__button">
              <svg class="reviews__button-icon">
                <use href="../../images/symbol-defs.svg#icon-arrow"></use>
              </svg>
            </button>
          </li>
        </ul>
        <!-- <div> -->
        <button class="reviews__last-button">
          <svg class="reviews__last-icon">
            <use href="../../images/symbol-defs.svg#icon-reload"></use>
          </svg>
          <span>Показати ще відгуки</span>
        </button>
      <!-- </div> -->
      </div>

      <div class="reviews__form">
        <div class="reviews__form-top-box">
          <div class="reviews__form-icon-box">
            <svg class="reviews__form-icon">
              <use href="../../images/symbol-defs.svg#icon-logo-sofa"></use>
            </svg>
          </div>
          <div>
            <p class="reviews__form-title">Магазин меблів для дому «KROVATO»</p>
            <div class="reviews__form-top-star-box">
              <p class="reviews__form-top-star-text">5.0</p>
              <ul class="reviews__form-top-star-list">
                <li class="reviews__form-top-star-item">
                  <svg class="reviews__reviews-top-star-icon">
                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="reviews__form-top-star-item">
                  <svg class="reviews__reviews-top-star-icon">
                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="reviews__form-top-star-item">
                  <svg class="reviews__reviews-top-star-icon">
                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="reviews__form-top-star-item">
                  <svg class="reviews__reviews-top-star-icon">
                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="reviews__form-top-star-item">
                  <svg class="reviews__reviews-top-star-icon">
                    <use href="../../images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </li>
              </ul>
            </div>
            <p class="reviews__form-text">Базовано на відгуках: 269</p>
          </div>
        </div>
        <form class="reviews__form-form">
          <h4 class="reviews__form-form-title">
            Залишіть свій відгук про магазин
          </h4>
          <ul class="reviews__form-form-list">
            <li class="reviews__form-form-item">
              <input
                class="reviews__form-input"
                placeholder="Ваше ім'я прізвище"
                required
                type="text"
              />
            </li>
            <li class="reviews__form-form-item">
              <input
                class="reviews__form-input"
                placeholder="E-mail"
                required
                type="email"
              />
            </li>
            <li class="reviews__form-form-item">
              <input
                class="reviews__form-input reviews__third-input"
                placeholder="Відгук"
                type="text"
              />
            </li>
          </ul>
          <p class="reviews__form-form-rating">Ваша оцінка:</p>
          <ul class="reviews__form-list">
            <li class="reviews__form-item">
              <svg class="reviews__form-star-icon">
                <use href="../../images/symbol-defs.svg#icon-empty-star"></use>
              </svg>
            </li>
            <li class="reviews__form-item">
              <svg class="reviews__form-star-icon">
                <use href="../../images/symbol-defs.svg#icon-empty-star"></use>
              </svg>
            </li>
            <li class="reviews__form-item">
              <svg class="reviews__form-star-icon">
                <use href="../../images/symbol-defs.svg#icon-empty-star"></use>
              </svg>
            </li>
            <li class="reviews__form-item">
              <svg class="reviews__form-star-icon">
                <use href="../../images/symbol-defs.svg#icon-empty-star"></use>
              </svg>
            </li>
            <li class="reviews__form-item">
              <svg class="reviews__form-star-icon">
                <use href="../../images/symbol-defs.svg#icon-empty-star"></use>
              </svg>
            </li>
          </ul>
          <button class="reviews__form-form-button" type="submit">Залишити відгук</button>
        </form>
      </div>
    </div>
  </div>
</section>
