<section class="advantages">
  <div class="container">
    <ul class="advantages__list">
      <li class="advantages__item">
        <svg class="advantages-icon">
          <use href="../../images/symbol-defs.svg#icon-small-ukraine"></use>
        </svg>
        <h4 class="advantages__text">Оплата по Україні</h4>
        <p class="advantages__sub-text">
          Доставка по Україні здійснюється Новою Поштою. Ви можете оплатити Ваше
          замовлення при отриманні післяплатою. Вартість післяплати 35грн +1-2%
          від суми. Також Ви можете оплатити Ваше замовлення на карту
          ПриватБанку, перед відправкою замовлення Вам.
        </p>
      </li>
      <li class="advantages__item">
        <svg class="advantages-icon">
          <use href="../../images/symbol-defs.svg#icon-kredyt-rozsrochka-circle"></use>
        </svg>
        <h4 class="advantages__text">Кредит\Розстрочка</h4>
        <p class="advantages__sub-text">
          На нашій виставці, ви можете оплатити Ваше замовлення за допомогою
          сервісів ПриватБанку "Миттєва Розстрочка" та "Оплата частинами", з
          мінімальними відсотками.
        </p>
      </li>
      <li class="advantages__item">
        <svg class="advantages-icon">
          <use href="../../images/symbol-defs.svg#icon-peredplata-check"></use>
        </svg>
        <h4 class="advantages__text">Передплата</h4>
        <p class="advantages__sub-text">
          У зв'язку з частими випадками замовлень "клієнтами", які не збираються
          забирати їх керівництвом, було прийнято рішення про введення,
          мінімальної передоплати 20% (на стандартні замовлення). Залишок суми
          (80%) Ви оплачуєте при отриманні за фактом складання. На нестандартні
          та великі замовлення передоплата 50%. На нестандартні матраци
          передплата 100%.
        </p>
      </li>
    </ul>
  </div>
</section>
