<section class="pay">
  <div class="container">
    <nav class="pay__navigation">
      <a class="pay__main-link" href="#">Головна</a>
      <svg class="pay__icon">
        <use href="../../images/symbol-defs.svg#icon-arrow"></use>
      </svg>
      <a class="pay__pay-link" href="">Оплата</a>
    </nav>

    <div class="pay__section">
      <h2 class="pay__title">Оплата товару</h2>
      <p class="pay__text">
        Клієнти Krovato можуть в один клік провести оплату товару на сайті.
      </p>
      <p class="pay__subtext">
        Оплата готівкою при отриманні товару, за безготівковим розрахунком,
        оплата замовлення онлайн банківською картою Visa або MasterCard або
        кредит - у нас можливо все!
      </p>
    </div>
  </div>
</section>
