<section class="pay-kyiv">
  <div class="container">
    <h2 class="pay-kyiv__title">Оплата по Києву:</h2>
    <ul class="pay-kyiv__list">
      <li class="pay-kyiv__item">
        <svg class="pay-kyiv__icon">
          <use href="../../images/symbol-defs.svg#icon-terminal"></use>
        </svg>
        <p class="pay-kyiv__text">Через термінал</p>
        <p class="pay-kyiv__subtext">
          Ви можете оплатити Ваше замовлення карткою на нашій виставці за
          адресою: пров. Ізяславський 52, поверх 2
        </p>
      </li>
      <li class="pay-kyiv__item">
        <svg class="pay-kyiv__icon">
          <use href="../../images/symbol-defs.svg#icon-two-cards"></use>
        </svg>
        <p class="pay-kyiv__text">На карту ПриватБанку</p>
        <p class="pay-kyiv__subtext">
          Ви можете це зробити через термінал самообслуговування, або Приват24.
        </p>
      </li>
      <li class="pay-kyiv__item">
        <svg class="pay-kyiv__icon">
          <use href="../../images/symbol-defs.svg#icon-bezgotivkova"></use>
        </svg>
        <p class="pay-kyiv__text">Безготівкова</p>
        <p class="pay-kyiv__subtext">
          Оплата проводиться в касі відділення будь-якого банку або з
          розрахункового рахунку Вашої фірми.
        </p>
      </li>
      <li class="pay-kyiv__item">
        <svg class="pay-kyiv__icon">
          <use href="../../images/symbol-defs.svg#icon-pay-money"></use>
        </svg>
        <p class="pay-kyiv__text">Післяплатою</p>
        <p class="pay-kyiv__subtext">
          Оплата готівкою безпосередньо при отриманні і перевірці товару від
          кур'єра.
        </p>
      </li>
    </ul>
  </div>
</section>
