.pay { 
    background-color: #F8F8F8;
}

.pay__navigation { 
    display: flex;
    gap: 9px;
    align-items: center;
}

.pay__main-link { 
    color: $dark;
font-family: "Proxima Nova";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 187.5% */
}

.pay__icon { 
    width: 6px;
    height: 10px;
    fill: $dark;
}

.pay__pay-link { 
    color: $yellow;
font-family: "Proxima Nova";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 187.5% */
}

.pay__section { 
    background-color: white;
    margin-top: 30px;
    background-repeat: no-repeat;
    background-position: right;
    width: 1290px;
    height: 454px;
    // background-size: contain;
    background-image: url(../../../images/about-us/phone/hero-bg@1x.webp);
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../../../images/about-us/phone/hero-bg@2x.webp);
  }

  @media screen and (min-width: 1200px) {
    background-image: url(../../../images/about-us/hero-bg@1x.webp);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../../../images/about-us/hero-bg@1x.webp);
    }
  }

}

.pay__title { 
    color: $dark;
font-family: "Proxima Nova";
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: 48px; /* 120% */

padding-top: 71px;
padding-left: 50px;
}

.pay__text { 
    color: $dark;
font-family: "Proxima Nova";
font-size: 26px;
font-style: normal;
font-weight: 600;
line-height: 34px; /* 130.769% */

max-width: 450px;
margin-top: 30px;
padding-left: 50px;
}

.pay__subtext { 
    color: $dark;
font-family: "Proxima Nova";
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 28px; /* 140% */

max-width: 450px;
margin-top: 20px;
padding-left: 50px;
padding-bottom: 71px;
}