.route {

    &__title {
        color: var(--Theme-Dark, #2B2929);
        text-align: center;
        font-family: "Proxima Nova";
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px;
    }

    &__text {
        color: var(--Theme-Grey, #535353);
        font-family: "Proxima Nova";
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
    }

    &__list {
        display: flex;
        flex-direction: column;

    }

    &__item {
        display: flex;
        padding-bottom: 10px;
        padding-right: 30px;
        flex-basis: calc((100% - 65px)/3);
        flex-direction: column;
    }
}