<section class="assembling">
    <div class="container">
        <h2 class="assembling__title">Складання</h2>
        <ul class="assembling__list">
            <li class="assembling__item">
                <p class="assembling__text">Складання звичайного ліжка</p>
                <div class="assembling__dots"></div>
                <p class="assembling__cost">300 грн</p>
            </li>
            <li class="assembling__item">
                <p class="assembling__text">Складання ліжка з вбудованим матрацом</p>
                <div class="assembling__dots"></div>
                <p class="assembling__cost">350 грн</p>
            </li>
            <li class="assembling__item">
                <p class="assembling__text">Складання ліжка з підйомним механізмом</p>
                <div class="assembling__dots"></div>
                <p class="assembling__cost">150 грн</p>
            </li>
            <li class="assembling__item">
                <p class="assembling__text">Складання прямого дивана</p>
                <div class="assembling__dots"></div>
                <p class="assembling__cost">200 грн</p>
            </li>
            <li class="assembling__item">
                <p class="assembling__text">Складання кутового дивана</p>
                <div class="assembling__dots"></div>
                <p class="assembling__cost">250 грн</p>
            </li>
            <li class="assembling__item">
                <p class="assembling__text">Складання комода</p>
                <div class="assembling__dots"></div>
                <p class="assembling__cost">150 грн</p>
            </li>
            <li class="assembling__item">
                <p class="assembling__text">Складання приліжкової тумби</p>
                <div class="assembling__dots"></div>
                <p class="assembling__cost">250 грн</p>
            </li>
            <li class="assembling__item">
                <p class="assembling__text">Складання столу</p>
                <div class="assembling__dots"></div>
                <p class="assembling__cost">500 грн</p>
            </li>
        </ul>
    </div>
</section>