<section class="delivery-ukraine">
    <div class="container delivery-ukraine__bc-container">
        <div class="delivery-ukraine__container">
            <h2 class="delivery-ukraine__title">Доставка по Україні:</h2>
            <ul class="delivery-ukraine__list">
                <li class="delivery-ukraine__item">
                    <div class="delivery-ukraine__svg-border">
                        <svg class="delivery-ukraine__svg">
                            <use href="../../images/symbol-defs.svg#icon-delivery-check"></use>
                        </svg>
                    </div>
                    <p class="delivery-ukraine__text">Доставка по Україні здійснюється за рахунок клієнта на відділення
                        або
                        адресно клієнту перевізником: "Нової Пошти, Міст експрес, Автолюкс".</p>
                </li>
                <li class="delivery-ukraine__item">
                    <div class="delivery-ukraine__svg-border">
                        <svg class="delivery-ukraine__svg">
                            <use href="../../images/symbol-defs.svg#icon-delivery-check"></use>
                        </svg>
                    </div>
                    <p class="delivery-ukraine__text">Металеві ліжка доставляють за межі Київської області "Новою
                        поштою"
                        адресно за рахунок клієнта (орієнтовна вартість доставки 250-300 грн).</p>
                </li>
                <li class="delivery-ukraine__item">
                    <div class="delivery-ukraine__svg-border">
                        <svg class="delivery-ukraine__svg">
                            <use href="../../images/symbol-defs.svg#icon-delivery-check"></use>
                        </svg>
                    </div>
                    <p class="delivery-ukraine__text">"Додаткова" відправка, наприклад (ящиків, тумб або комода)
                        оплачується
                        клієнтом.</p>
                </li>
            </ul>
            <p class="delivery-ukraine__lead">Послуга «Податковий платіж» – (оплата при отриманні замовлення), додатково
                до вартості замовлення оплачується +1.5-2% за послугу післяплати, залежно від обраного оператора
                вантажоперевезень.
                <span>
                    Послуга «Утилізація старих меблів» – розраховується, виходячи з габаритів меблів або матраца і
                    становить
                    від 50 до 400грн. Додатково оплачується винесення меблів згідно з тарифами, на занесення
                    товару.</span>
            </p>
        </div>
        <p class="delivery-ukraine__slogan">*В усіх випадках зазначена вартість доставки до під'їзду (воріт
            приватного
            будинку). У базову вартість доставки не входить вартість занесення меблів. Занесення товару на поверх/у
            квартиру здійснюється за домовленістю за окрему оплату.

            ** додаткове упакування товару оплачується клієнтом у будь-якому випадку! Увага! Вартість доставки
            вказана
            до парадного будинку (воріт приватного будинку) і не враховує занесення товару. Занесення товару
            здійснюється за домовленістю за окрему оплату згідно з тарифами, на занесення товару.</p>
    </div>
</section>