<section class="delivery-kyiv">
    <div class="container delivery-kyiv__bc-container">
        <div class="delivery-kyiv__container">
            <h2 class="delivery-kyiv__title">Доставка по Києву та Київській області:</h2>
            <ul class="delivery-kyiv__list">
                <li class="delivery-kyiv__item">
                    <div class="delivery-kyiv__svg-border">
                        <svg class="delivery-kyiv__svg">
                            <use href="../../images/symbol-defs.svg#icon-delivery-check"></use>
                        </svg>
                    </div>
                    <p class="delivery-kyiv__text">Доставка ліжка чи матраца від 6000 грн. по Києву безкоштовна .</p>
                </li>
                <li class="delivery-kyiv__item">
                    <div class="delivery-kyiv__svg-border">
                        <svg class="delivery-kyiv__svg">
                            <use href="../../images/symbol-defs.svg#icon-delivery-check"></use>
                        </svg>
                    </div>
                    <p class="delivery-kyiv__text">У доставку входить підйом на поверх ліфтом та занесення до квартири
                        (занесення сходами оплачується додатково)</p>
                </li>
                <li class="delivery-kyiv__item">
                    <div class="delivery-kyiv__svg-border">
                        <svg class="delivery-kyiv__svg">
                            <use href="../../images/symbol-defs.svg#icon-delivery-check"></use>
                        </svg>
                    </div>
                    <p class="delivery-kyiv__text">Доставка дивана до під'їзду по Києву безкоштовна.</p>
                </li>
            </ul>
            <p class="delivery-kyiv__lead">Доставка так само безкоштовна у: Вишневе, Петропавлівська Борщагівка,
                Софіївська
                Борщагівка, Новосілки, Чайки, Коцюбинське</p>
            <p class="delivery-kyiv__lead">Доставка у міста: Вишгород - 200 грн, Бровари - 250 грн, Бориспіль - 300 грн,
                Ірнінь - 200 грн, Буча - 250 грн, Гостомель - 300 грн</p>
        </div>
    </div>
</section>