<section class="discount">
    <div class="container">
        <h2 class="discount__title">Акції доставки</h2>
        <ul class="discount__list">
            <li class="discount__item">
                <svg class="discount__svg">
                    <use href="../../images/symbol-defs.svg#icon-star-aktsiyi"></use>
                </svg>
                <p class="discount__text">При покупці ліжка з матрацом більше 7000 грн. (вартість матрацу) занесення
                    ліфтом та складання БЕЗКОШТОВНО * </p>
            </li>
            <li class="discount__item">
                <svg class="discount__svg">
                    <use href="../../images/symbol-defs.svg#icon-star-aktsiyi"></use>
                </svg>
                <p class="discount__text">При покупці ліжка з матрацом більше 10000 грн. знижка 5% на матрац + доставка,
                    занесення ліфтом та складання БЕЗКОШТОВНО *</p>
            </li>
            <li class="discount__item">
                <svg class="discount__svg">
                    <use href="../../images/symbol-defs.svg#icon-star-aktsiyi"></use>
                </svg>
                <p class="discount__text">Купуючи матрац від 7000 грн. доставка та занесення БЕЗКОШТОВНО *</p>
            </li>
            <li class="discount__item">
                <svg class="discount__svg">
                    <use href="../../images/symbol-defs.svg#icon-star-aktsiyi"></use>
                </svg>
                <p class="discount__text">Купуючи матрац від 10000 грн. доставка та занесення БЕЗКОШТОВНО * + знижка 5%
                    на матрац</p>
            </li>
            <li class="discount__item">
                <svg class="discount__svg">
                    <use href="../../images/symbol-defs.svg#icon-star-aktsiyi"></use>
                </svg>
                <p class="discount__text">При покупці столу та 2-х стільців доставка та занесення БЕЗКОШТОВНО *</p>
            </li>
        </ul>
        <p class="discount__slogan">* Під покупкою ліжка з матрацом до суми "N" - мається на увазі ціна за матрац.
            ** Занесення відбувається ліфтом (по сходах занесення платне)
            * В акції не беруть участь ліжка з вбудованим матрацом.
            * Знижка на матраци ТМ Сонлайн не сумується з іншими акціями.</p>
    </div>
</section>