<section class="entry">
    <div class="container">
        <h2 class="entry__title">Занесення</h2>
        <div class="entry__header">
            <p class="entry__subject">Послуга</p>
            <p class="entry__heading">Є ліфт</p>
            <p class="entry__caption">Ліфта немає/не працює/ щось не міститься</p>
        </div>
        <ul class="entry__list">
            <li class="entry__item">
                <p class="entry__text">Занесення однієї підйомної одиниці* ліжка (1 коробка)</p>
                <div class="entry__dots"></div>
                <p class="entry__worth">Безкоштовно</p>
                <div class="entry__dots"></div>
                <p class="entry__cost">30 грн/поверх</p>
            </li>
            <li class="entry__item">
                <p class="entry__text">Занесення матраца</p>
                <div class="entry__dots"></div>
                <p class="entry__worth">Безкоштовно</p>
                <div class="entry__dots"></div>
                <p class="entry__cost">30 грн/поверх</p>
            </li>
            <li class="entry__item">
                <p class="entry__text">Занесення каркаса ліжка (у зібраному вигляді)</p>
                <div class="entry__dots"></div>
                <p class="entry__worth">Безкоштовно</p>
                <div class="entry__dots"></div>
                <p class="entry__cost">30 грн/поверх</p>
            </li>
            <li class="entry__item">
                <p class="entry__text">Занесення прямого дивана**</p>
                <div class="entry__dots"></div>
                <p class="entry__worth">150 грн</p>
                <div class="entry__dots"></div>
                <p class="entry__cost">30 грн/поверх (за 1 підйомну одиницю)</p>
            </li>
            <li class="entry__item">
                <p class="entry__text">Занесення кутового дивана</p>
                <div class="entry__dots"></div>
                <p class="entry__worth">200 грн</p>
                <div class="entry__dots"></div>
                <p class="entry__cost">30 грн/поверх (за 1 підйомну одиницю)</p>
            </li>
            <li class="entry__item">
                <p class="entry__text">Занесення комода</p>
                <div class="entry__dots"></div>
                <p class="entry__worth">Безкоштовно</p>
                <div class="entry__dots"></div>
                <p class="entry__cost">50 грн</p>
            </li>
            <li class="entry__item">
                <p class="entry__text">Занесення тумби</p>
                <div class="entry__dots"></div>
                <p class="entry__worth">Безкоштовно</p>
                <div class="entry__dots"></div>
                <p class="entry__cost">10 грн</p>
            </li>
            <li class="entry__item">
                <p class="entry__text">Занесення стільця</p>
                <div class="entry__dots"></div>
                <p class="entry__worth">Безкоштовно</p>
                <div class="entry__dots"></div>
                <p class="entry__cost">15 грн</p>
            </li>
            <li class="entry__item">
                <p class="entry__text">Занесення столу</p>
                <div class="entry__dots"></div>
                <p class="entry__worth">Безкоштовно</p>
                <div class="entry__dots"></div>
                <p class="entry__cost">50 грн</p>
            </li>
        </ul>
        <p class="entry__slogan">* Занесення великогабаритних деталей, довжина яких перевищує 160*90см або вага
            перевищує 20кг коштує 30грн/поверх
            . **Занесення дивана, що складається з 1 підйомної одиниці 70 грн/поверх без ліфта
            . ***За відсутності вільного під'їзду до парадного, служба доставки самостійно розраховує вартість занесення
            до дверей.</p>
    </div>
</section>