<section class="hero">
    <div class="container">
        <nav class="hero__nav">
            <a href="../../index.html" class="hero__nav-link">Головна</a>
            <div class="hero__nav-svg-box">
                <svg class="hero__nav-svg">
                    <use href="../../images/symbol-defs.svg#icon-arrow"></use>
                </svg>
            </div>
            <a href="../../delivery.html" class="hero__nav-active-link">Доставка та збірка</a>
        </nav>
        <div class="hero__container">
            <div class="hero__text-box">
                <h1 class="hero__title">Доставка та збірка</h1>
                <h2 class="hero__subtitle">Доставка онлайн замовлень по всій Україні.</h2>
                <p class="hero__text">Робимо доставку власним транспортом та в усі працюючі відділення Нової Пошти.
                    Оплата
                    доставки і збірки здійснюється в момент отримання товару.</p>
            </div>
        </div>
    </div>
</section>