h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  margin: 0;
  text-decoration: none;
}
a:focus {
  outline: none;
}

button:focus {
    outline: none;
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

svg {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  cursor: pointer;
  border: none;
}

input {
  outline: none;
}