<section class="advantages">
    <div class="container">
      <ul class="advantages__list">
        <li class="advantages__item">
          <svg class="advantages__icon">
            <use href="../../images/symbol-defs.svg#icon-bus"></use>
          </svg>
          <p class="advantages__text">Безкоштовна доставка</p>
        </li>
        <li class="advantages__item">
          <svg class="advantages__icon">
            <use href="../../images/symbol-defs.svg#icon-korobka"></use>
          </svg>
          <p class="advantages__text">Безкоштовна збірка</p>
        </li>
        <li class="advantages__item">
          <svg class="advantages__icon">
            <use href="../../images/symbol-defs.svg#icon-headphone"></use>
          </svg>
          <p class="advantages__text">Післягарантійне обслуговування</p>
        </li>
        <li class="advantages__item">
          <svg class="advantages__icon">
              <use href="../../images/symbol-defs.svg#icon-discounts"></use>
          </svg>
          <p class="advantages__text">Знижки клієнтам</p>
        </li>
      </ul>
    </div>
  </section>
  