<section class="footer">
    <div class="container">
        <div class="footer__container1">
            <div class="footer__logo-box1">
                <svg class="footer__logo-sofa">
                    <use href="../../images/symbol-defs.svg#icon-logo-sofa"></use>
                </svg>
                <svg class="footer__logo-text">
                    <use href="../../images/symbol-defs.svg#icon-logo-text"></use>
                </svg>
            </div>
            <p class="footer__text-join">Приєднуйтесь:</p>
            <div class="footer__box-join">
                <svg class="footer__join-svg">
                    <use href="../../images/symbol-defs.svg#icon-facebook"></use>
                </svg>
                <svg class="footer__join-svg">
                    <use href="../../images/symbol-defs.svg#icon-instagram"></use>
                </svg>
            </div>
            <p class="footer__text-help"></p>
            <div class="footer__box-help">
                <svg class="footer__help-svg">
                    <use href="../../images/symbol-defs.svg#icon-whatsapp"></use>
                </svg>
                <svg class="footer__help-svg">
                    <use href="../../images/symbol-defs.svg#icon-telegram"></use>
                </svg>
                <svg class="footer__help-svg">
                    <use href="../../images/symbol-defs.svg#icon-viber"></use>
                </svg>
            </div>
            <div class="footer__box-pay">
                <svg class="footer__pay-svg">
                    <use href="../../images/symbol-defs.svg#icon-visa"></use>
                </svg>
                <svg class="footer__pay-svg">
                    <use href="../../images/symbol-defs.svg#icon-mastercard"></use>
                </svg>
            </div>
        </div>
        <ul class="footer__main-list">
            <li class="footer__main-item">
                <ul class="footer__informations">
                    <li class="footer__informations"><a href="" class="footer__link">Інформація</a></li>
                    <li class="footer__informations"><a href="" class="footer__link">Про нас</a></li>
                    <li class="footer__informations"><a href="" class="footer__link">Оплата</a></li>
                    <li class="footer__informations"><a href="" class="footer__link">Доставка та збірка</a></li>
                    <li class="footer__informations"><a href="" class="footer__link">Відгуки</a></li>
                    <li class="footer__informations"><a href="" class="footer__link">Блог</a></li>
                    <li class="footer__informations"><a href="" class="footer__link">Контакти</a></li>
                    <li class="footer__informations"><a href="" class="footer__link">Мапа сайту</a></li>
                </ul>
            </li>
            <li class="footer__main-item">
                <ul class="footer__categories">
                    <li class="footer__categorie"><a href="" class="footer__link">Категорії</a></li>
                    <li class="footer__categorie"><a href="" class="footer__link">Ліжка</a></li>
                    <li class="footer__categorie"><a href="" class="footer__link">Матраци</a></li>
                    <li class="footer__categorie"><a href="" class="footer__link">М’які меблі</a></li>
                    <li class="footer__categorie"><a href="" class="footer__link">Шафи</a></li>
                    <li class="footer__categorie"><a href="" class="footer__link">Комоди</a></li>
                    <li class="footer__categorie"><a href="" class="footer__link">Тумби</a></li>
                    <li class="footer__categorie"><a href="" class="footer__link">Столи</a></li>
                    <li class="footer__categorie"><a href="" class="footer__link">Стільці</a></li>
                    <li class="footer__categorie"><a href="" class="footer__link">Меблеві стіни</a></li>
                    <li class="footer__categorie"><a href="" class="footer__link">Кухні</a></li>
                </ul>
            </li>
            <li class="footer__main-item">
                <ul class="footer__customers">
                    <li class="footer__customer"><a href="" class="footer__link">Клієнтам</a></li>
                    <li class="footer__customer"><a href="" class="footer__link">Акції</a></li>
                    <li class="footer__customer"><a href="" class="footer__link">Розпродаж</a></li>
                    <li class="footer__customer"><a href="" class="footer__link">Купити в кредит</a></li>
                    <li class="footer__customer"><a href="" class="footer__link">Обмін і повернення товару</a></li>
                    <li class="footer__customer"><a href="" class="footer__link">Часто задавані питання</a></li>
                    <li class="footer__customer"><a href="" class="footer__link">Умови покупки</a></li>
                    <li class="footer__customer"><a href="" class="footer__link">Політика конфіденційності</a></li>
                </ul>
            </li>
        </ul>
        <div class="footer__box3">
            <div class="footer__call">
                <svg class="footer__svg-phone">
                    <use href="../../images/symbol-defs.svg#icon-telephone"></use>
                </svg>
                <div class="footer__numbers">
                    <p class="footer__number">+38 067 929-45-45</p>
                    <p class="footer__number"> +38 050 133-45-45</p>
                    <p class="footer__number"> +38 093 170-75-45</p>
                    <p class="footer__call-me">Передзвоніть мені</p>
                </div>
            </div>
            <div class="footer__adress">
                <svg class="footer__adress-svg">
                    <use href="../../images/symbol-defs.svg#icon-adres"></use>
                </svg>
                <p class="footer__adress-text">м. Київ, провулок Ізяславський 52, поверх 2</p>
            </div>
            <div class="footer__schedule">
                <svg class="footer__calendar">
                    <use href="../../images/symbol-defs.svg#icon-calendar"></use>
                </svg>
                <p class="footer__schedule-text">Працюємо щодня з 9:00 до 18:00</p>
            </div>
        </div>
        <div class="footer__copyright">
            <p class="footer__copyright-text">© KROVATO - Технології сну - 2022. Всі права захищені.</p>
        </div>
    </div>
</section>