<header class="header">
    <div class="container">
        <nav class="header__nav">
            <ul class="header__list">
                <li class="header__item">
                    <a href="../../about-us.html" class="header__link">Про нас</a>
                    <a href="../../pay.html" class="header__link">Оплата</a>
                    <a href="../../delivery.html" class="header__link">Доставка та збірка</a>
                    <a href="../../reviews.html" class="header__link">Відгуки</a>
                    <a href="../../blog-page.html" class="header__link">Блог</a>
                    <a href="../../contacts.html" class="header__link">Контакти</a>
                </li>
                <li class="header__item">
                    <p>Допомога і консультація:
                    <div class="bug-icon">
                        <svg class="icon__svg-whatsapp">
                            <use href="../../images/symbol-defs.svg#icon-whatsapp"></use>
                        </svg>
                    </div>
                    <svg class="icon__svg">
                        <use href="../../images/symbol-defs.svg#icon-telegram"></use>
                    </svg><svg class="icon__svg">
                        <use href="../../images/symbol-defs.svg#icon-viber"></use>
                    </svg></p>
                </li>
            </ul>
            <ul class="header__list2">
                <li class="header__item">
                    <a href="../../index.html" class="header__link">
                        <picture>
                            <source
                                srcset="../../images/main-page/logo-header@1x.webp 1x, ../../images/main-page/logo-header@2x.webp 2x"
                                media="(min-width: 1200px)">
                            <!-- <source srcset=""> -->
                            <img class="header__logo" src="../../images/main-page/logo-header@1x.webp" alt="Krovato">
                        </picture>
                    </a>
                    <button>
                        <svg class="catalog__svg">
                            <use href="../../images/symbol-defs.svg#icon-menu-catalog"></use>
                        </svg>
                        Каталог
                    </button>

                    <form>
                        <input type="text" id="name" placeholder="Пошук товарів">
                    </form>
                    <svg class="search__svg">
                        <use href="../../images/symbol-defs.svg#icon-search"></use>
                    </svg>
                </li>

                <li class="header__item">
                    <div class="icon-container">
                        <svg class="icon__svg">
                            <use href="../../images/symbol-defs.svg#icon-telephone"></use>
                        </svg>
                        <div>
                            <p class="header__paragraph">Щодня з 9:00 до 18:00</p>
                            <h4 class="header__number">067 929-45-45</h4>
                        </div>
                        <svg class="icon__svg">
                            <use href="../../images/symbol-defs.svg#icon-bottom"></use>
                        </svg>
                    </div>
                    <svg class="obrane__svg">
                        <use href="../../images/symbol-defs.svg#icon-obrane-heard"></use>
                    </svg>
                    <svg class="korzina__svg">
                        <use href="../../images/symbol-defs.svg#icon-korzina"></use>
                    </svg>

                </li>
            </ul>
            <ul class="header__list3">
                <li class="header__item">
                    <a href="#">
                        <svg class="icon-star">
                            <use href="../../images/symbol-defs.svg#icon-star"></use>
                        </svg>
                        <h4>Акції</h4>
                    </a>
                    <a href="#">
                        <svg class="icon-sale">
                            <use href="../../images/symbol-defs.svg#icon-sale"></use>
                        </svg>
                        <h4>Розпродаж</h4>
                    </a>
                    <a href="#">
                        <svg class="icon-credit">
                            <use href="../../images/symbol-defs.svg#icon-credit"></use>
                        </svg>
                        <h4>Купити в кредит</h4>
                    </a>
                </li>                
                <li class="header__item">
                    <a href="#" class="header__link">Дитяча</a>
                    <a href="#" class="header__link">Кухня</a>
                    <a href="#" class="header__link">Ванна</a>
                    <a href="#" class="header__link">Спальня</a>
                    <a href="#" class="header__link">Передпокій</a>
                    <a href="#" class="header__link">Вітальня</a>
                    <a href="#" class="header__link">Офіс</a>
                </li>
            </ul>
        </nav>
    </div>
</header>