<section class="reviews">
  <div class="container">
    <h3 class="reviews__title">Останні відгуки</h3>
    <div class="logo-sofa">
      <svg class="reviews__star-svg">
        <use href="../../images/symbol-defs.svg#icon-logo-sofa"></use>
      </svg>
    </div>
    <div class="reviews__info">
      <h3 class="reviews__name">Магазин меблів для дому «KROVATO»</h3>
      <p class="reviews__rate">5.0</p>
      <ul class="reviews__stars">
        <li class="reviews__star">
          <svg class="reviews__star-svg">
            <use href="../../images/symbol-defs.svg#icon-star"></use>
          </svg>
        </li>
        <li class="reviews__star">
          <svg class="reviews__star-svg">
            <use href="../../images/symbol-defs.svg#icon-star"></use>
          </svg>
        </li>
        <li class="reviews__star">
          <svg class="reviews__star-svg">
            <use href="../../images/symbol-defs.svg#icon-star"></use>
          </svg>
        </li>
        <li class="reviews__star">
          <svg class="reviews__star-svg">
            <use href="../../images/symbol-defs.svg#icon-star"></use>
          </svg>
        </li>
        <li class="reviews__star">
          <svg class="reviews__star-svg">
            <use href="../../images/symbol-defs.svg#icon-star"></use>
          </svg>
        </li>
        <li class="reviews__star">
          <svg class="reviews__star-svg">
            <use href="../../images/symbol-defs.svg#icon-star"></use>
          </svg>
        </li>
      </ul>
      <p class="reviews__reviews">Базовано на відгуках: 269</p>
      <button class="reviews__write">
        <svg class="reviews__star-svg">
          <use href="../../images/symbol-defs.svg#icon-write-review"></use></svg>Написати відгук</button>
      <a href="#">
        <svg class="reviews__star-svg">
          <use href="../../images/symbol-defs.svg#icon-chat"></use></svg>Всі відгуки</a>
    </div>

    <ul class="reviews__list">
      <li class="reviews__item">
        <div>
          <svg class="reviews__avatar">
            <use href="../../images/symbol-defs.svg#icon-avatar"></use>
          </svg>
        </div>
        <p class="reviews__name">Іван Стедниця</p>
        <ul class="reviews__stars">
          <li class="reviews__star">
            <svg class="reviews__star-svg">
              <use href="../../images/symbol-defs.svg#icon-star"></use>
            </svg>
          </li>
          <li class="reviews__star">
            <svg class="reviews__star-svg">
              <use href="../../images/symbol-defs.svg#icon-star"></use>
            </svg>
          </li>
          <li class="reviews__star">
            <svg class="reviews__star-svg">
              <use href="../../images/symbol-defs.svg#icon-star"></use>
            </svg>
          </li>
          <li class="reviews__star">
            <svg class="reviews__star-svg">
              <use href="../../images/symbol-defs.svg#icon-star"></use>
            </svg>
          </li>
          <li class="reviews__star">
            <svg class="reviews__star-svg">
              <use href="../../images/symbol-defs.svg#icon-star"></use>
            </svg>
          </li>
          <li class="reviews__star">
            <svg class="reviews__star-svg">
              <use href="../../images/symbol-defs.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <p class="reviews__date">25.01.2022</p>
        <p class="reviews__text">
          Хочу отметить слаженную и четкую работу всех сотрудников , с кем
          пришлось контактировать при выборе и покупке дивана Orange-Line Родео
          SF17-LX6-PLNGR. Огромную помощь при выборе оказала специалист по
          продажам Ульяна ...
        </p>
        <picture>
          <source
            srcset="
              ../../images/main-page/bed-mk5@1x.webp 1x,
              ../../images/main-page/bed-mk5@2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../../images/main-page/phone/bed-mk5@1x.webp 1x,
              ../../images/main-page/phone/bed-mk5@2x.webp 2x
            "
          />
          <img
            class="slider__img"
            src="../../images/main-page/bed-mk5@1x.webp"
            alt="bed"
          />
        </picture>
        <p class="reviews__bed-name">Диван Orange-Line Родео SF ...</p>
      </li>
      <li class="reviews__item">
        <div>
          <svg class="reviews__avatar">
            <use href="../../images/symbol-defs.svg#icon-avatar"></use>
          </svg>
        </div>
        <p class="reviews__name">Іван Стедниця</p>
        <ul class="reviews__stars">
          <li class="reviews__star">
            <svg class="reviews__star-svg">
              <use href="../../images/symbol-defs.svg#icon-star"></use>
            </svg>
          </li>
          <li class="reviews__star">
            <svg class="reviews__star-svg">
              <use href="../../images/symbol-defs.svg#icon-star"></use>
            </svg>
          </li>
          <li class="reviews__star">
            <svg class="reviews__star-svg">
              <use href="../../images/symbol-defs.svg#icon-star"></use>
            </svg>
          </li>
          <li class="reviews__star">
            <svg class="reviews__star-svg">
              <use href="../../images/symbol-defs.svg#icon-star"></use>
            </svg>
          </li>
          <li class="reviews__star">
            <svg class="reviews__star-svg">
              <use href="../../images/symbol-defs.svg#icon-star"></use>
            </svg>
          </li>
          <li class="reviews__star">
            <svg class="reviews__star-svg">
              <use href="../../images/symbol-defs.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <p class="reviews__date">25.01.2022</p>
        <p class="reviews__text">
          Хочу отметить слаженную и четкую работу всех сотрудников , с кем
          пришлось контактировать при выборе и покупке дивана Orange-Line Родео
          SF17-LX6-PLNGR. Огромную помощь при выборе оказала специалист по
          продажам Ульяна ...
        </p>
        <picture>
          <source
            srcset="
              ../../images/main-page/bed-mk5@1x.webp 1x,
              ../../images/main-page/bed-mk5@2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../../images/main-page/phone/bed-mk5@1x.webp 1x,
              ../../images/main-page/phone/bed-mk5@2x.webp 2x
            "
          />
          <img
            class="slider__img"
            src="../../images/main-page/bed-mk5@1x.webp"
            alt="bed"
          />
        </picture>
        <p class="reviews__bed-name">Диван Orange-Line Родео SF ...</p>
      </li>
    </ul>
    <div>
      <input type="range" id="rangeReviews" min="0" max="4" />
    </div>
  </div>
</section>
