<section class="questions">
  <div class="container">
    <h2 class="questions__title">У вас все ще залишилися питання?</h2>
    <div class="questions__line-left"></div>
    <ul class="questions__list">
      <li class="questions__item">
        <input  class="questions__input" type="checkbox" name="questions__input-name" id="cb1"/>
        <label class="questions__label" for="cb1">
            <svg class="questions__icon">
                <use href="../../images/symbol-defs.svg#icon-question"></use>
            </svg>
          <p class="questions__text">Як повернути або обміняти замовлення?</p>
          <svg class="questions__icon-arrow">
            <use href="../../images/symbol-defs.svg#icon-bottom"></use>
          </svg>
        </label>
        <div class="questions__paragraph">
            <p class="questions__subtext">Ми гарантуємо повернення або обмін вашого замовлення протягом 14 днів з моменту отримання товару. Зверніть увагу, що меблі повинні мати належний товарний вигляд та бути в оригінальній упаковці для здійснення обміну або повернення. Для подальших кроків, будь ласка, зв'яжіться з нашим відділом обслуговування клієнтів.
            </p>
        </div>
      </li>
      <li class="questions__item">
        <input checked class="questions__input" type="checkbox" name="questions__input-name" id="cb2" />
        <label class="questions__label" for="cb2">
            <svg class="questions__icon">
                <use href="../../images/symbol-defs.svg#icon-question"></use>
            </svg>
          <p class="questions__text">Чи можна повернути/обміняти товар, якщо втрачено чек?</p>
          <svg class="questions__icon-arrow">
            <use href="../../images/symbol-defs.svg#icon-bottom"></use>
          </svg>
        </label>
        <div class="questions__paragraph">
            <p class="questions__subtext">Ми постараємося Вам допомогти, навіть якщо відповідно до закону України Про захист прав споживачів, при поверненні Покупцем товару або відмові від наданої послуги продавцю подається заява про повернення коштів, до якого обов`язково додається квитанція, товарний або касовий чек, рахунок (розрахунковий документ), який підтверджує покупку товару (надання послуги). У нвс ведеться облік всіх замовлень, тому клієнту достатньо знати номер замовлення, написати заяву і надати дані на кого був оформлений замовлення, що б ми могли ідентифікувати покупку</p>
        </div>
      </li>
      <li class="questions__item">
        <input  class="questions__input" type="checkbox" name="questions__input-name" id="cb3" />
        <label class="questions__label" for="cb3">
            <svg class="questions__icon">
                <use href="../../images/symbol-defs.svg#icon-question"></use>
            </svg>
          <p class="questions__text">В який термін будуть повернуті гроші?</p>
          <svg class="questions__icon-arrow">
            <use href="../../images/symbol-defs.svg#icon-bottom"></use>
          </svg>
        </label>
        <div class="questions__paragraph">
            <p class="questions__subtext">Гроші за повернення товару будуть повернуті протягом 5-10 робочих днів з моменту отримання і перевірки поверненого товару. Ми робимо все можливе, щоб забезпечити оперативність та швидкість обробки повернень та повернення коштів нашим клієнтам.
            </p>
        </div>
      </li>
      <li class="questions__item">
        <input  class="questions__input" type="checkbox" name="questions__input-name" id="cb4" />
        <label class="questions__label" for="cb4">
            <svg class="questions__icon">
                <use href="../../images/symbol-defs.svg#icon-question"></use>
            </svg>
          <p class="questions__text">Чи можна повернути кошти на іншу карту?</p>
          <svg class="questions__icon-arrow">
            <use href="../../images/symbol-defs.svg#icon-bottom "></use>
          </svg>
        </label>
        <div class="questions__paragraph">
            <p class="questions__subtext">Так, можливо повернути кошти на іншу карту. Для цього будь ласка, надайте нам необхідні банківські реквізити карти, на яку ви бажаєте отримати повернення коштів, і ми здійснимо відповідний переказ.
            </p>
        </div>
      </li>
    </ul>
    <div class="questions__line-right"></div>
  </div>
</section>
