<section class="questions">
    <div class="container">
      <h2 class="questions__title">У вас все ще залишилися питання?</h2>
      <ul class="questions__list">
        <li class="questions__item">
          <input  class="questions__input" type="checkbox" name="questions__input-name" id="cb1"/>
          <label class="questions__label" for="cb1">
              <svg class="questions__icon">
                  <use href="../../images/symbol-defs.svg#icon-question"></use>
              </svg>
            <p class="questions__text">Яке ліжко краще підійде для “хрущьовки”?</p>
            <svg class="questions__icon-arrow">
              <use href="../../images/symbol-defs.svg#icon-bottom"></use>
            </svg>
          </label>
          <div class="questions__paragraph">
              <p class="questions__subtext">Вибір ліжка для квартири типу "хрущовка" може залежати від розміру приміщення, а також ваших власних вподобань і потреб. Оскільки у "хрущовках" зазвичай обмежений простір, важливо обрати компактне і функціональне ліжко.
              </p>
          </div>
        </li>
        <li class="questions__item">
          <input checked class="questions__input" type="checkbox" name="questions__input-name" id="cb2" />
          <label class="questions__label" for="cb2">
              <svg class="questions__icon">
                  <use href="../../images/symbol-defs.svg#icon-question"></use>
              </svg>
            <p class="questions__text">Як підібрати розмір ліжка?</p>
            <svg class="questions__icon-arrow">
              <use href="../../images/symbol-defs.svg#icon-bottom"></use>
            </svg>
          </label>
          <div class="questions__paragraph">
              <p class="questions__subtext">
                Односпальне ліжко — оптимальний варіант для сну однієї людини. Вироби представлені в декількох стандартних розмірах по ширині: 80-90, рідше — 100 сантиметрів.
                Полуторні ліжка нагадують односпальні, але зі збільшеною шириною — в середньому 120-140 сантиметрів. Меблі підійдуть для одиночного сну людям з великою статурою або для худорлявої пари.
                Двоспальне місце для сну відрізняється простором і комфортом для двох дорослих, а також сімей, в яких діти люблять засинати разом з батьками. Ширина ліжка — від 160 см при стандартній довжині, а в розмірі king size — понад 200 см.</p>
          </div>
        </li>
        <li class="questions__item">
          <input  class="questions__input" type="checkbox" name="questions__input-name" id="cb3" />
          <label class="questions__label" for="cb3">
              <svg class="questions__icon">
                  <use href="../../images/symbol-defs.svg#icon-question"></use>
              </svg>
            <p class="questions__text">У покупку ліжка входить її доставка, збирання та встановлення в кімнаті?</p>
            <svg class="questions__icon-arrow">
              <use href="../../images/symbol-defs.svg#icon-bottom"></use>
            </svg>
          </label>
          <div class="questions__paragraph">
              <p class="questions__subtext">У покупку ліжка не входить доставка, збирання та встановлення.
              </p>
          </div>
        </li>
        <li class="questions__item">
          <input  class="questions__input" type="checkbox" name="questions__input-name" id="cb4" />
          <label class="questions__label" for="cb4">
              <svg class="questions__icon">
                  <use href="../../images/symbol-defs.svg#icon-question"></use>
              </svg>
            <p class="questions__text">Найдешевші ліжка - це обов’язково погана якість?</p>
            <svg class="questions__icon-arrow">
              <use href="../../images/symbol-defs.svg#icon-bottom "></use>
            </svg>
          </label>
          <div class="questions__paragraph">
              <p class="questions__subtext">Ні, не обов'язково. Ціна не завжди є вказівником якості. На ринку можна знайти різні варіанти ліжок за різними цінами, і деякі з них можуть бути якісними, незважаючи на свою доступність.
              </p>
          </div>
        </li>
        <li class="questions__item">
            <input  class="questions__input" type="checkbox" name="questions__input-name" id="cb5" />
            <label class="questions__label" for="cb5">
                <svg class="questions__icon">
                    <use href="../../images/symbol-defs.svg#icon-question"></use>
                </svg>
              <p class="questions__text">Можно замовити ліжко під свої розміри?</p>
              <svg class="questions__icon-arrow">
                <use href="../../images/symbol-defs.svg#icon-bottom "></use>
              </svg>
            </label>
            <div class="questions__paragraph">
                <p class="questions__subtext">Так, можно замовити ліжко під свої розімри але це може вплинути на кіневу ціну ліжка
                </p>
            </div>
          </li>
      </ul>
    </div>
  </section>
  